{% extends 'partials/new_dash/admin_base.html' %}
{% block content %}


<div class="row">
  <div class="col-md-3">
    {% if client.contract_set.all %}
    <div class="row">
          <div class="dropdown dash-drop">
            <button style="background-color:white;color:black;" class="dropbtn">Contracts Dropdown</button>
            <div style="min-width:1000px;" class="dropdown-content">
              <div style="margin:1px;font-size:16px;" class="row">
                <div class="col-md-2">Number</div>
                <div class="col-md-1">Client</div>
                <div class="col-md-1">Vendor</div>
                <div class="col-md-2">End Date</div>
                <div class="col-md-2">End Service</div>
                <div class="col-md-2">End Life</div>
                <div class="col-md-2">End Support</div>
              </div>
              {% for con in client.contract_set.all %}
              <a href="{% url 'contract_detail_view' con.id %}">
              <div class="row">
                <div class="col-md-2">{{ con.serial }}</div>
                <div class="col-md-1">{{ con.client }}</div>
                <div class="col-md-1">{{ con.vendor }}</div>
                {% if con.active and con.ninety %}
                <div style="color:orange;" class="col-md-2">{{ con.end_date }}</div>
                {% elif not con.active %}
                <div style="color:red;" class="col-md-2">{{ con.end_date }}</div>
                {% else %}
                <div style="" class="col-md-2">{{ con.end_date }}</div>
                {% endif %}
                <div class="col-md-2">{{ con.product.part_num.end_of_service }}</div>
                <div class="col-md-2">{{ con.product.part_num.end_of_life }}</div>
                <div class="col-md-2">{{ con.product.part_num.end_of_support }}</div>
              </div>
              </a>
              {% endfor %}
            </div>
          </div>
    </div>
    {% else %}
    <h5>No Contracts</h5>
    {% endif %}
  </div>
  <div class="col-md-6"><h2 style="text-align:center;">{{ client.name }}</h2></div>
  <div class="col-md-4">
    <h3>Overview</h3>
    <div class="row">
      <div class="col-md-6">
        Date Joined:<br>
        Contracts:<br>
        Products:<br>
        Orphan Products:<br>
        Last Changed By:<br>
        Last Changed At:
      </div>
      <div class="col-md-6">
        {{ client.created_at|date }}<br>
        {{ client.contract_set.all.count }}<br>
        {{ client.product_set.all.count }}<br>
        {{ orphan_products|length }}<br>
        {{ client.clientupdate_set.all.last.user.username }}<br>
        {{ client.clientupdate_set.all.last.time }}
      </div>
    </div>
    <h3>Location Info</h3>
    <div class="row">
      <div class="col-md-6">
        Address:<br>
        City:<br>
        State:<br>
        Country:<br>
        Zip Code:
      </div>
      <div class="col-md-6">
        {{ client.address }}<br>
        {{ client.city }}<br>
        {{ client.state }}<br>
        {{ client.country }}<br>
        {{ client.zip_code }}
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>Contact Info</h3>
    <div class="row">
      <div class="col-md-6">
        Client Phone Number:<br>
        Correspondence Signature:<br>
        Correspondence Phone:<br>
        Correspondence Email:<br>
        Sales Agent Email:<br>
        Correspondence Contact:<br>
        Correspondence Contact 2:<br>
        Web Admin:<br>
        Web Admin Cell:
      </div>
      <div class="col-md-6">
        {{ client.phone }}<br>
        {{ client.correspondence_signature }}<br>
        {{ client.correspondence_phone }}<br>
        {{ client.correspondence_email }}<br>
        {{ client.email_address_salesperson }}<br>
        {{ client.correspondence_contact_one }}<br>
        {{ client.correspondence_contact_two }}<br>
        {{ client.web_admin }}<br>
        {{ client.web_admin_cell }}<br>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>Financials</h3>
    <div class="row">
      <div class="col-md-6">
        List Discount:<br>
        List Discount International:<br>
        Service Discount:<br>
        Override Sales Tax:<br>
        Discount Off List %:<br>
        Rate Factor Year:<br>
        Rate Factor Two Years:<br>
        Rate Factor Three Years:<br>
        Residual Value:<br>
        Aquisition Fee:<br>
        Rate Factor Increase:
      </div>
      <div class="com-md-6">
        {{ client.list_discount }}<br>
        {{ client.list_discount_international }}<br>
        {{ client.service_discount }}<br>
        {{ client.override_sales_tax }}<br>
        {{ client.discount_off_list_percent }}<br>
        {{ client.rate_factor_year }}<br>
        {{ client.rate_factor_two_year }}<br>
        {{ client.rate_factor_three_year }}<br>
        {{ client.residual_value }}<br>
        {{ client.aquisition_fee }}<br>
        {{ client.rate_factor_increase }}<br>
      </div>
    </div>
  </div>
</div>

<div class="col-md-3">
  <h4>Actions</h4>
  <a href="{% url 'client_update_view' client.id %}"><button class="btn btn-warning contract-btn" type="button" name="button">Edit</button></a>
</div>

{% endblock %}
