{% extends 'partials/new_dash/admin_base.html' %}
{% block content %}

<form class="" method="post">
  {% csrf_token %}
  {% for field in form %}
  <div style="margin:5px;" class="row">
    <div class="col-md-2">
      {{ field.label }}
    </div>
    <div class="col-md-6">
      {{ field }}
    </div>

  </div>
  {% endfor %}
  <input class="btn btn-success" type="submit" name="" value="Submit">
</form>

{% endblock %}
