{% extends 'partials/new_dash/admin_base.html' %}
{% block content %}

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-2 top">
    Manufacturer
  </div>
  <div class="col-md-3 top">
    Number
  </div>
  <div class="col-md-1 top">
    Edit
  </div>
  <div class="col-md-2 top">
    Destroy
  </div>
  <div class="col-md-2">
    <a href="{% url 'part_create_view' %}">New Part</a>
  </div>
</div>
{% for part in object_list %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-2">
    {{ part.manufacturer }}
  </div>
  <div class="col-md-3">
    {{ part.num }}
  </div>
  <div class="col-md-1">
    <a href="{% url 'part_update_view' part.id %}">Edit</a>
  </div>
  <div class="col-md-2">
    <a href="{% url 'part_delete_view' part.id %}">Destroy</a>
  </div>
</div>
{% endfor %}
<!-- <div class="row bot-form">
  <div class="col-md-2"></div>
  <div class="col-md-8 form-box">
    <h3 style='text-align:center;'>New Part</h3>
    <form class="" action="{% url 'part_create_view' %}" method="post">
      {% csrf_token %}
      <div class="row form-cat">
        <div class="col-md-3">Manufacturer:</div>
        <div class="col-md-9">{{ part_form.manufacturer }}</div>
      </div>
      <div class="row form-cat">
        <div class="col-md-3">Number:</div>
        <div class="col-md-9">{{ part_form.num }}</div>
      </div>
      <div class="row form-cat">
        <div class="col-md-3">End of Service:</div>
        <div class="col-md-9">{{ part_form.end_of_service }}</div>
      </div>
      <div class="row form-cat">
        <div class="col-md-3">End of Life:</div>
        <div class="col-md-9">{{ part_form.end_of_life }}</div>
      </div>
      <div class="row form-cat">
        <div class="col-md-3">End of Support:</div>
        <div class="col-md-9">{{ part_form.end_of_support }}</div>
      </div>
      <div class="row form-cat">
        <div class="col-md-3">Description:</div>
        <div class="col-md-9">{{ part_form.desc }}</div>
      </div>
      <div class="row form-cat">
        <div class="col-md-3"></div>
        <div class="col-md-9"><input class="btn" type="submit" name="" value="Submit"></div>
      </div>


    </form>
  </div>

</div> -->

{% endblock %}
