{% extends 'partials/new_dash/admin_base.html' %}

{% block content %}

<div class="row bot-form">
  <div class="col-md-2"></div>
  <div class="col-md-8 form-box">
    <h3 style='text-align:center;'>Part Form</h3>
    <form class=""  method="post">
      {% csrf_token %}
      <div class="row form-cat">
        <div class="col-md-3">Manufacturer:</div>
        <div class="col-md-9">{{ form.manufacturer }}</div>
      </div>
      <div class="row form-cat">
        <div class="col-md-3">Desc:</div>
        <div class="col-md-9">{{ form.desc }}</div>
      </div>
      <div class="row form-cat">
        <div class="col-md-3">Number:</div>
        <div class="col-md-9">{{ form.num }}</div>
      </div>
      <div class="row form-cat">
        <div class="col-md-3">End of Life:</div>
        <div class="col-md-9">{{ form.end_of_life }}</div>
      </div>
      <div class="row form-cat">
        <div class="col-md-3">End of Service:</div>
        <div class="col-md-9">{{ form.end_of_service }}</div>
      </div>
      <div class="row form-cat">
        <div class="col-md-3">End of Support:</div>
        <div class="col-md-9">{{ form.end_of_support }}</div>
      </div>
      <div class="row form-cat">
        <div class="col-md-3"></div>
        <div class="col-md-9"><input class="btn" type="submit" name="" value="Submit"></div>
      </div>

    </form>
  </div>
</div>
{% endblock %}
