<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% if request.user.is_superuser %}
     {% include 'partials/new_dash/clients/admin/_form.html' %}
    {% elif request.user.salesuser %}
      {% include 'partials/new_dash/clients/sales/_form.html' %}
    {% else %}


    {% endif %}



  </body>
</html>
