{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      {% if request.user.clientuser.client == client %}
        {% include 'partials/new_dash/clients/client/_detail.html' %}
      {% elif request.user.is_superuser %}
        {% include 'partials/new_dash/clients/admin/_detail.html' %}
      {% elif request.user.salesuser %}
        {% include 'partials/new_dash/clients/sales/_detail.html' %}
      {% else %}
        404 ERROR
      {% endif %}



  </body>
</html>
