<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    {% if request.user.is_superuser %}
      {% include 'partials/new_dash/contracts/admin/_detail.html' %}
    {% elif request.user.clientuser in object.client.clientuser_set.all %}
      {% include 'partials/new_dash/contracts/client/_detail.html' %}
    {% elif request.user.salesuser.sales_account == object.sale_agent %}
      {% include 'partials/new_dash/contracts/sales/_detail.html' %}
    {% endif %}
  </body>
</html>
