{% extends 'partials/new_dash/admin_base.html' %}

{% block content %}

  <div class='row' style="overflow-x:auto;">
    <div class="col-md-4" style="margin-right:0px!important;padding-right:0px!important;">
      <div class="table-responsive">
        <table class="table table-left table-striped">
          <thead>
            <tr>
              <th>Contract #</th>
              <th>Service Lvl</th>
              <th>Product #</th>
              <th>Instance #</th>
            </tr>
          </thead>
          <tbody>
            {% for contract in object.contract_set.all %}
            <tr>
              <td>{{ object.number }}</td>
              <td>{{ contract.service_level }}</td>
              <td>{{ contract.product.serial }}</td>
              <td>{{ contract.serial }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    </div>
    <div class="col-md-8">
      <div class="table-responsive">
        <table class='table table-right table-striped'>
          <thead>
            <tr>
              <th>Desc</th>
              <th>Addess</th>
              <th>City</th>
              <th>State</th>
              <th>Zip</th>
              <th>Country</th>
              <th>Begin</th>
              <th>End Date</th>
              <th>End Support</th>
              <th>End Service</th>
              <th>End Life</th>
              <th>Cost</th>
              <th>QTY</th>
              <th>Pak #</th>
              <th>Smart Net SKU</th>
              <th>Smart Net Desc</th>
              <th>Trade Value</th>
              <th>Annual List Price</th>
            </tr>
          </thead>
          <tbody>
            {% for contract in object.contract_set.all %}
            <tr>
              <td style="min-width:250px!important;">{{ contract.product.part_num.desc }}</td>
              <td>{{ contract.address }}</td>
              <td>{{ contract.city }}</td>
              <td>{{ contract.state }}</td>
              <td>{{ contract.zip_code }}</td>
              <td>{{ contract.country }}</td>
              <td>{{ contract.start_date }}</td>
              {% if contract.ninety %}
              <td style="color:#8A3324;">{{ contract.end_date }}</td>
              {% else %}
              <td>{{ contract.end_date }}</td>
              {% endif %}
              <td>{{ contract.product.part_num.end_of_support}}</td>
              <td>{{ contract.product.part_num.end_of_service }}</td>
              <td>{{ contract.product.part_num.end_of_life }}</td>
              <td>{{ contract.cost }}</td>
              <td>{{ contract.quantity }}</td>
              <td>{{ contract.pak_num }}</td>
              <td>{{ contract.smart_net_sku }}</td>
              <td>{{ contract.smark_net_desc }}</td>
              <td>{{ contract.trade_value }}</td>
              <td>{{ contract.annual_list_price }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% for contract in object.contract_set.all %}
    {% endfor %}
  </div>


{% endblock %}
