<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% if request.user.is_superuser %}
      {% include 'partials/new_dash/contracts/admin/_list.html' %}
    {% elif request.user.salesuser %}
      {% include 'partials/new_dash/contracts/sales/_list.html' %}
    {% endif %}
  </body>
</html>
