<!DOCTYPE html>
<html>
  <head>
    <style media="screen">
      .form-item {
        padding: 10px;
      }
    </style>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% if request.user.is_superuser %}
      {% include 'partials/new_dash/contracts/admin/_update.html' %}
    {% elif request.user.salesuser %}
      {% include 'partials/new_dash/contracts/sales/_form.html' %}
    {% endif %}

  </body>
</html>
