{% extends 'partials/new_dash/admin_base.html' %}
{% block content %}


<div style="font-size:18px;border-bottom:1px solid black;margin-bottom:10px;" class="row">
  <div class="col-md-1 sort-cat">Number</div>
  <div class="col-md-1 sort-cat">Trued</div>
  <div class="col-md-1 sort-cat">Client</div>
  <div class="col-md-1 sort-cat">Vendor</div>
  <div class="col-md-1 sort-cat">Agent</div>
  <div class="col-md-1 sort-cat">Analyst</div>
  <div class="col-md-6">
    <div class="col-md-3 sort-cat">End Date</div>
    <div class="col-md-3">End Life</div>
    <div class="col-md-3">End Service</div>
    <div class="col-md-3">End Support</div>
  </div>
</div>
{% for con in object_list %}
<div class="con-item">
<a href="{% url 'contract_number_detail_view' con.id %}">
  <div class="row">
    <div class="col-md-1">{{ con.number }}</div>
    <div class="col-md-1">{% if con.trued %}Y{% else %}N{% endif %}</div>
    <div class="col-md-1">{{ con.client }}</div>
    <div class="col-md-1">{{ con.vendor }}</div>
    <div class="col-md-1">{{ con.sales_agent }}</div>
    <div class="col-md-1">{{ con.sales_agent.retention_analyst }}</div>
    <div class="col-md-6">
      {% if con.end_date_half and not con.end_date_quarter %}
      <div style="color:orange;" class="col-md-3">{{ con.closest_end_date }}</div>
      {% elif con.end_date_quarter %}
      <div style="color:red;" class="col-md-3">{{ con.closest_end_date }}</div>
      {% else %}
      <div class="col-md-3">{{ con.closest_end_date }}</div>
      {% endif %}
      <div class="col-md-3">{{ con.closest_end_life }}</div>
      <div class="col-md-3">{{ con.closest_end_of_service }}</div>
      <div class="col-md-3">{{ con.closest_end_of_support }}</div>
    </div>
    <!-- <div class="col-md-2"></div>
    <div class="col-md-2">{{ con.product.part_num.end_of_life }}</div>
    <div class="col-md-2">{{ con.product.part_num.end_of_service }}</div> -->

  </div>
</a>
</div>
{% endfor %}





{% endblock %}
