<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <form class="" method="post">
      {% csrf_token %}
      <p> You are about to delete the manufacturer: {{ manufacturer }}</p>
      <input type="submit" name="" value="Yes">
      <a href="{% url 'admin_dashboard' %}">No</a>
    </form>

  </body>
</html>
