{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" media="screen" title="no title">
    <link rel="stylesheet" href="{% static 'css/product.css' %}" media="screen" title="no title">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      {% if product.client.user == request.user %}
        {% include 'partials/_loggedproduct_detail.html' %}
      {% elif request.user.is_superuser %}
        {% include 'partials/new_dash/products/admin/_detail.html' %}
      {% else %}
        404 ERROR
      {% endif %}




  </body>
</html>
