<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    {% if request.user.is_superuser %}
    {% include 'partials/new_dash/products/admin/_update.html' %}
    {% else %}
    <form class="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" name="" value="Submit">
    </form>
    {% endif %}



  </body>
</html>
