{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" media="screen" title="no title">
    <link rel="stylesheet" href="{% static 'css/reta.css' %}" media="screen" title="no title">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% if request.user.is_superuser %}
      {% include 'partials/new_dash/retas/admin/_detail.html' %}
    {% elif request.user.retentionanalystuser.reta == object %}
    hi
    {% endif %}

  </body>
</html>
