{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" media="screen" title="no title">
    <link rel="stylesheet" href="{% static 'css/sales.css' %}" media="screen" title="no title">
    <title></title>
  </head>
  <body>

  {% if request.user.is_superuser %}
    {% include 'partials/new_dash/sales/admin/_detail.html' %}
  {% elif request.user.salesuser.sales_account == object %}
    {% include 'partials/new_dash/sales_dash.html' %}
  {% endif %}

  </body>
</html>
