{% extends 'partials/new_dash/admin_base.html' %}
{% block content %}
<div class="row">
  <div class="col-md-6">
    <form autocomplete="off" class=""  method="post">
      {% csrf_token %}
      {% for field in form %}
      <div style="padding-top:5px;" class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
          {{ field.label }}:
        </div>
        <div class="col-md-8">
          {{ field }}
        </div>
      </div>
      {% endfor %}
      <div class="col-md-1"></div>
      <input type="submit" name="" value="Submit">
    </form>
  </div>
  <div class="col-md-6">
    {% if contract %}
    <div class="col-md-4">
      Start:<br>
      End: <br>
      Product: <br>
      Serial: <br>
      Service Level: <br>
      Smart Net SKU: <br>
      Smart Net Desc: <br>
      Trade Value: <br>
      Annual List Price: <br>
    </div>
    <div class="col-md-8">
      {{ contract.start_date }}<br>
      {{ contract.end_date }}<br>
      {{ contract.product.name }}<br>
      {{ contract.serial }}<br>
      {{ contract.service_level }}<br>
      {{ contract.smart_net_sku }}<br>
      {{ contract.smark_net_desc }}<br>
      {{ contract.trade_value }}<br>
      {{ contract.annual_list_price }}
    </div>
    {% endif %}
  </div>
</div>


{% endblock %}
