{% extends 'partials/new_dash/admin_base.html' %}

{% block content %}
<div style="font-size:18px;border-bottom:1px solid black;margin-bottom:10px;" class="row">
  <div class="col-md-2 sort-cat">Contract #</div>
  <div class="col-md-1 sort-cat">Client</div>
  <div class="col-md-1 sort-cat">Vendor</div>
  <div class="col-md-1 sort-cat">Agent</div>
  <div class="col-md-1 sort-cat">Analyst</div>
  <div class="col-md-6">
    <div class="col-md-3 sort-cat">End Date</div>
    <div class="col-md-3">End Life</div>
    <div class="col-md-3">End Service</div>
    <div class="col-md-3">End Support</div>
  </div>
</div>
{% for quote in object_list %}
<div class="con-item">
<a href="#">
  <div class="row">
    <div class="col-md-2">{{ quote.contract }}</div>
    <div class="col-md-1">{{ quote.contract.client }}</div>
    <div class="col-md-1">{{ quote.vendor }}</div>
    <div class="col-md-1">{{ quote.sales_agent }}</div>
    <div class="col-md-1">{{ quote.sales_agent.retention_analyst }}</div>
    <div class="col-md-6">
      {% if quote.ninety and not quote.active %}
      <div style="color:red;" class="col-md-3">{{ quote.end_date }}</div>
      {% elif quote.ninety and quote.active %}
      <div style="color:orange;" class="col-md-3">{{ quote.end_date }}</div>
      {% else %}
      <div class="col-md-3">{{ quote.end_date }}</div>
      {% endif %}
      <div class="col-md-3">{{ quote.product.part_num.end_of_life }}</div>
      <div class="col-md-3">{{ quote.product.part_num.end_of_service }}</div>
      <div class="col-md-3">{{ quote.product.part_num.end_of_support }}</div>
    </div>
    <!-- <div class="col-md-2"></div>
    <div class="col-md-2">{{ quote.product.part_num.end_of_life }}</div>
    <div class="col-md-2">{{ quote.product.part_num.end_of_service }}</div> -->

  </div>
</a>
</div>
{% endfor %}

{% for contract in object_list %}
{% endfor %}

{% endblock %}
