{% extends 'partials/new_dash/admin_base.html' %}
{% block content %}

  <div class="row">
    <div class="col-md-4">
      <h4>Location Info</h4>
      <div class="col-md-4">
        <strong>Client: </strong><br>
        <strong>Site Name: </strong><br>
        <strong>Address: </strong><br>
        <strong>City: </strong><br>
        <strong>State: </strong><br>
        <strong>Zip: </strong><br>
        <strong>Country: </strong>
      </div>
      <div class="col-md-8">
        <strong><a href="{% url 'client_detail_view' object.client.id %}">{{ object.client.name }}</a></strong><br>
        {{ contract.site_name }}<br>
        {{ contract.address }}<br>
        {{ contract.city }}<br>
        {{ contract.state }}<br>
        {{ contract.zip_code }}<br>
        {{ contract.country }}
      </div>

    </div>
    <div class="col-md-4">
      <h4>General Info</h4>
      <div class="col-md-4">
        <strong>Product: </strong><br>
        <strong>Product Desc: </strong><br><br>
        <strong>Contract #: </strong><br>
        <strong>Vendor: </strong><br>
        <strong>Agent: </strong><br>
        <strong>Analyst: </strong><br>
        <strong>Quantity: </strong><br>
        <strong>Last Updated: </strong><br>
        <strong>Last Updated: </strong>
      </div>
      <div class="col-md-8">
        {{ contract.product.name }}<br>
        {{ contract.product.part_num.desc }}<br>
        {{ contract.serial }}<br>
        {{ contract.vendor }}<br>
        {{ contract.sale_agent }}<br>
        {{ contract.sale_agent.retention_analyst }}<br>
        {{ contract.quantity }}<br>
        {{ contract.contractupdate_set.all.last.user }}<br>
        {{ contract.contractupdate_set.all.last.time }}
      </div>
    </div>
    <div class="col-md-4">
      <h4>Details</h4>
      <div class="col-md-5">
        <strong>Cost: </strong><br>
        <strong>Commission: </strong><br>
        <strong>Service Level: </strong><br>
        <strong>Pak #: </strong><br>
        <strong>Smart Net SKU: </strong><br>
        <strong>Smart Net Desc: </strong><br>
        <strong>Annual List Price: </strong><br>
        <strong>Trade Value: </strong>
      </div>
      <div class="col-md-7">
        {{ contract.cost }}<br>
        {{ contract.commission }}<br>
        {{ contract.service_level }}<br>
        {{ contract.pak_num }}<br>
        {{ contract.smart_net_sku }}<br>
        {{ contract.smark_net_desc }}<br>
        {{ contract.annual_list_price }}<br>
        {{ contract.trade_value }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4>Actions</h4>
      <a href="{% url 'quote_create_view' contract.id %}"><button class="btn btn-warning contract-btn" type="button" name="button">Quote</button></a>
      <a href="{% url 'contract_update_view' contract.id %}"><button class="btn btn-success contract-btn" type="button" name="button">Edit</button></a>
    </div>
  </div>
</div>
{% endblock %}
