{% extends 'partials/new_dash/admin_base.html' %}

{% block content %}

<div style="font-size:18px;border-bottom:1px solid black;margin-bottom:10px;" class="row">
  <div class="col-md-2 sort-cat"><a href="{% url 'contract_list_view' 'number' %}">Contract #</a></div>
  <div class="col-md-1 sort-cat"><a href="{% url 'contract_list_view' 'client' %}">Client</a></div>
  <div class="col-md-1 sort-cat"><a href="{% url 'contract_list_view' 'vendor' %}">Vendor</a></div>
  <div class="col-md-1 sort-cat"><a href="{% url 'contract_list_view' 'agent' %}">Agent</a></div>
  <div class="col-md-1 sort-cat"><a href="{% url 'contract_list_view' 'analyst' %}">Analyst</a></div>
  <div class="col-md-6">
    <div class="col-md-3 sort-cat"><a href="{% url 'contract_list_view' 'end_date' %}">End Date</a></div>
    <div class="col-md-3">End Life</div>
    <div class="col-md-3">End Service</div>
    <div class="col-md-3">End Support</div>
  </div>
</div>
{% for con in object_list %}
<div class="con-item">
<a href="{% url 'contract_detail_view' con.id %}">
  <div class="row">
    <div class="col-md-2">{{ con.serial }}</div>
    <div class="col-md-1">{{ con.product.client }}</div>
    <div class="col-md-1">{{ con.vendor }}</div>
    <div class="col-md-1">{{ con.sale_agent }}</div>
    <div class="col-md-1">{{ con.sale_agent.retention_analyst }}</div>
    <div class="col-md-6">
      {% if con.ninety and not con.active %}
      <div style="color:red;" class="col-md-3">{{ con.end_date }}</div>
      {% elif con.ninety and con.active %}
      <div style="color:orange;" class="col-md-3">{{ con.end_date }}</div>
      {% else %}
      <div class="col-md-3">{{ con.end_date }}</div>
      {% endif %}
      <div class="col-md-3">{{ con.product.part_num.end_of_life }}</div>
      <div class="col-md-3">{{ con.product.part_num.end_of_service }}</div>
      <div class="col-md-3">{{ con.product.part_num.end_of_support }}</div>
    </div>
    <!-- <div class="col-md-2"></div>
    <div class="col-md-2">{{ con.product.part_num.end_of_life }}</div>
    <div class="col-md-2">{{ con.product.part_num.end_of_service }}</div> -->

  </div>
</a>
</div>
{% endfor %}

{% for contract in object_list %}
{% endfor %}

{% endblock %}
