{% extends 'partials/new_dash/admin_base.html' %}
{% block content %}

<div class="row list-box">
  <div class="col-md-12">
    {% for contract in object_list %}

    <div class="row top-divider">
      <div class="col-md-3 top-new lightgreen">
        <div class="col-md-3">
          Vendor
        </div>
        <div class="col-md-3">
          Client
        </div>
        <div class="col-md-4">
          Contract#
        </div>
        <div class="col-md-2">
          QTY
        </div>
      </div>
      <div class="col-md-3 top-new lightgreen">
        <div class="col-md-4">
          Service L
        </div>
        <div class="col-md-4">
          Site ID
        </div>
        <div class="col-md-4">
          Site name
        </div>
      </div>
      <div class="col-md-3 top-new lightgreen">
        <div class="col-md-3">
          Address
        </div>
        <div class="col-md-3">
          City
        </div>
        <div class="col-md-3">
          State
        </div>
        <div class="col-md-3">
          Zipcode
        </div>
      </div>
      <div class="col-md-3 top-new lightgreen">
        <div class="col-md-3">
          Begin
        </div>
        <div class="col-md-3">
          EndDate
        </div>
        <div class="col-md-6">
          Desc
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 bot-new">
        <div class="col-md-3">
          {{ contract.vendor }}
        </div>
        <div class="col-md-3">
          {{ contract.product.client }}
        </div>
        <div class="col-md-4">
          {{ contract.serial }}
        </div>
        <div class="col-md-2">
          {{ contract.quantity }}
        </div>
      </div>
      <div class="col-md-3 bot-new">
        <div class="col-md-4">
           {{ contract.service_level }}
        </div>
        <div class="col-md-4">
          {{ contract.site_id }}
        </div>
        <div class="col-md-4">
          {{ contract.site_name }}
        </div>
      </div>
      <div class="col-md-3 bot-new">
        <div class="col-md-3">
          {{ contract.address }}
        </div>
        <div class="col-md-3">
          {{ contract.city }}
        </div>
        <div class="col-md-3">
          {{ contract.state }}
        </div>
        <div class="col-md-3">
          {{ contract.zip_code }}
        </div>
      </div>
      <div class="col-md-3 bot-new">
        <div class="col-md-3">
          {{ contract.start_date }}
        </div>
        <div class="col-md-3">
          {% if not contract.active %}
            <span style="color:red;">{{ contract.end_date }}</span>
          {% else %}
            {{ contract.end_date }}
          {% endif %}
        </div>
        <div class="col-md-6">
          Placeholder
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 top-new lightgreen">
        <div class="col-md-4">
          Pak Number
        </div>
        <div class="col-md-4">
          SKU
        </div>
        <div class="col-md-4">
          SKU desc
        </div>
      </div>
      <div class="col-md-3 top-new lightgreen">
        <div class="col-md-4">
          List Price
        </div>
        <div class="col-md-4">
          Trade Value
        </div>
        <div class="col-md-4">
          Commission
        </div>
      </div>
      <div class="col-md-3 top-new lightgreen">
        <div class="col-md-6 ">
          Sales Agent
        </div>
        <div class="col-md-6 ">
          Retention Analyst
        </div>
      </div>
    </div>

    <div class="row bot-new-row">
      <div class="col-md-3 bot-new">
        <div class="col-md-4">
          {{ contract.pak_num }}
        </div>
        <div class="col-md-4">
          {{ contract.smart_net_sku }}
        </div>
        <div class="col-md-4">
          {{ contract.smark_net_desc }}
        </div>
      </div>
      <div class="col-md-3 bot-new">
        <div class="col-md-4">
          {{ contract.annual_list_price }}
        </div>
        <div class="col-md-4">
          {{ contract.trade_value }}
        </div>
        <div class="col-md-4">
          {{ contract.commission }}
        </div>
      </div>
      <div class="col-md-3 bot-new">
        <div class="col-md-6">
          {{ contract.sale_agent }}
        </div>
        <div class="col-md-6">
          {{ contract.sale_agent.retention_analyst }}
        </div>
      </div>
      <div class="col-md-3">
        <a style="font-size:16px;" href="{% url 'quote_create_view' contract.id %}">Quote</a>
      </div>
    </div>

    {% endfor %}
    {% endblock %}

  </div>
</div>
