{% extends 'partials/new_dash/admin_base.html' %}
{% block content %}

    <h3 style='text-align:center;'>Edit Instance</h3>
    <form class="new-product-form"  method="post">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8 form-box">
            {% for field in form %}
              <div style="margin:5px;" class="row">
                <div class="col-md-2">{{ field.label }}:</div>
                <div class="col-md-8">{{ field }}</div>
              </div>
            {% endfor %}
            <input class="btn" type="submit" name="" value="Submit"><br><br>
          </div>
        </div>
    </form>
{% endblock %}

<!-- <div class="col-md-2"></div>

<div class="col-md-8 form-box">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
    </div>
  </div>
  <div class="row form-item">
    <div class="col-md-2">Serial</div>
    <div class="col-md-8">{{ form.serial }}</div>
    <div class="col-md-2"></div>
  </div>
  <div class="row form-item">
    <div class="col-md-2">Start Date</div>
    <div class="col-md-8">{{ form.start_date }}</div>
    <div class="col-md-2"></div>
  </div>
  <div class="row form-item">
    <div class="col-md-2">End Date</div>
    <div class="col-md-8">{{ form.end_date }}</div>
    <div class="col-md-2"></div>
  </div>
  <div class="row form-item">
    <div class="col-md-2">Cost</div>
    <div class="col-md-8">{{ form.cost }}</div>
    <div class="col-md-2"></div>
  </div>
  <div class="row form-item">
    <div class="col-md-2">Vendor</div>
    <div class="col-md-8">{{ form.vendor }}</div>
    <div class="col-md-2"></div>
  </div>
  <div class="row form-item">
    <div class="col-md-2">Sales Agent</div>
    <div class="col-md-8">{{ form.sale_agent }}</div>
    <div class="col-md-2"></div>
  </div>
  <div class="row form-item">
    <div class="col-md-2">Commission</div>
    <div class="col-md-8">{{ form.commission }}</div>
    <div class="col-md-2"></div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <input style="margin-bottom:10px; background-color:lightblue; border:1px solid black;" class="btn btn-large" type="submit" name="" value="Submit">
    </div>
  </div> -->
