{% extends 'partials/new_dash/admin_base.html' %}
{% block content %}

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-2 top">
    Manufacturer
  </div>
  <div class="col-md-3 top">
    Address
  </div>
  <div class="col-md-1 top">
    Edit
  </div>
  <div class="col-md-2 top">
    Destroy
  </div>
  <div class="col-md-2">
    <a href="{% url 'manufacturer_create_view' %}">New Manufacturer</a>
  </div>
</div>
{% for manu in object_list %}
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1">
    <img class='manu-logo' src="{{ MEDIA_URL }}{{ manu.image_url }}" alt="">
  </div>
  <div class="col-md-2">
    <a class="item" href="#">{{ manu.name }}</a>
  </div>
  <div class="col-md-3">
    {{ manu.address }}
  </div>
  <div class="col-md-1">
    <a href="{% url 'manufacturer_update_view' manu.id %}">Edit</a>
  </div>
  <div class="col-md-2">
    <a href="{% url 'manufacturer_delete_view' manu.id %}">Destroy</a>
  </div>
</div>
{% endfor %}

<!-- <div class="row bot-form">
  <div class="col-md-2"></div>
  <div class="col-md-8 form-box">
    <h3 style='text-align:center;'>New Manufacturer</h3>
    <form class="" action="{% url 'manufacturer_create_view' %}" method="post">
      {% csrf_token %}
      <div class="row form-cat">
        <div class="col-md-2">Name:</div>
        <div class="col-md-10">{{ manu_form.name }}</div>
      </div>
      <div class="row form-cat">
        <div class="col-md-2">Address:</div>
        <div class="col-md-10">{{ manu_form.address }}</div>
      </div>
      <div class="row form-cat">
        <div class="col-md-2">Website:</div>
        <div class="col-md-10">{{ manu_form.website }}</div>
      </div>
      <div class="row form-cat">
        <div class="col-md-2">Phone:</div>
        <div class="col-md-10">{{ manu_form.phone }}</div>
      </div>
      <div class="row form-cat">
        <div class="col-md-2">Status:</div>
        <div class="col-md-10">{{ manu_form.status }}</div>
      </div>
      <div class="row form-cat">
        <div class="col-md-2">Logo:</div>
        <div class="col-md-10">{{ manu_form.logo }}</div>
      </div>
      <div class="row form-cat">
        <div class="col-md-2"></div>
        <div class="col-md-10"><input class="btn" type="submit" name="" value="Submit"></div>
      </div>


    </form>
  </div>

</div> -->

{% endblock %}
