{% extends 'partials/new_dash/admin_base.html' %}

{% block content %}

<div class="row bot-form">
  <div class="col-md-2"></div>
  <div class="col-md-8 form-box">
    <h3 style='text-align:center;'>Manufacturer Form</h3>
    <form class="" method="post">
      {% csrf_token %}
      <div class="row form-cat">
        <div class="col-md-3">Name:</div>
        <div class="col-md-9">{{ form.name }}</div>
      </div>
      <div class="row form-cat">
        <div class="col-md-3">Address:</div>
        <div class="col-md-9">{{ form.address }}</div>
      </div>
      <div class="row form-cat">
        <div class="col-md-3">Website:</div>
        <div class="col-md-9">{{ form.website }}</div>
      </div>
      <div class="row form-cat">
        <div class="col-md-3">Phone:</div>
        <div class="col-md-9">{{ form.phone }}</div>
      </div>
      <div class="row form-cat">
        <div class="col-md-3">Status:</div>
        <div class="col-md-9">{{ form.status }}</div>
      </div>
      <div class="row form-cat">
        <div class="col-md-3">Logo:</div>
        <div class="col-md-9">{{ form.logo }}</div>
      </div>
      <div class="row form-cat">
        <div class="col-md-3"></div>
        <div class="col-md-9"><input class="btn" type="submit" name="" value="Submit"></div>
      </div>

    </form>
  </div>
</div>
{% endblock %}
