{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <style media="screen">
      .login_stuff {
        background-image: url('{{ MEDIA_URL }}media/test-bg-1.jpg');
        background-size: cover;
        height: 500px;
      }
      #id_username {
        color:black;
        background-color: white!important;
        float: right;
        margin: 5px;
      }

      #id_password {
        color:black;
        background-color: white!important;
        float: right;
        margin: 5px;
      }

      label {
        margin: 5px;
      }

      form {
        color:white;
        border: 1px solid white;
        background-color: rgba(0, 0, 0, 0.5);
        margin-top: 40px;
      }


    </style>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" media="screen" title="no title">
    <link rel="stylesheet" href="{% static 'css/product.css' %}" media="screen" title="no title">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <div style="margin-bottom:0px;" class="jumbotron">
      <div class="row">
        <div class="col-md-2">
          <img style="max-width:80px;position:absolute;top:5px;" class="navbar-left" src="{{ MEDIA_URL }}/media/rpp_two.png" alt="">
        </div>
        <div class="col-md-8">
          <h2 style="text-align:center;">Retention Profit Pro</h2>
        </div>
      </div>

    </div>

    <div class="row login_stuff">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <form style="" class="" method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <input class="btn" style="margin:5px;color:darkblue" type="submit" value="Login">
        </form>
      </div>
      <div class="col-md-4">

      </div>
    </div>
    <div style="height:25px; background-color:lightgrey" class="row">

    </div>
    <div style="height:200px;" class="row blurb">
      <div class="col-md-2">

      </div>
      <div style="font-size:22px;" class="col-md-8">
        <h3 style="text-align:center;">About Us</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vel tellus tempor, egestas ipsum a, cursus ex. Fusce non urna pharetra, consequat magna eget, consequat dolor. </p>
      </div>
    </div>
    <div style="background-color:darkblue; height:60px;" class="row">

    </div>


  </body>
</html>
