{% extends 'partials/new_dash/sales_base.html' %}

{% block content %}
<form class="" action="" method="post">
  {% csrf_token %}
  {% for field in form %}
  <div style="padding-top:10px;" class="row">
    <div class="col-md-2">
      {{ field.label }}
    </div>
    <div class="col-md-6">
      {{ field}}
    </div>
  </div>
  {% endfor %}
  <input type="submit" name="" value="Submit">
</form>
{% endblock %}
