{% extends 'partials/new_dash/admin_base.html' %}
{% block content %}

<div class="row">
  <div class="col-md-1"></div>

  <div class="col-md-10">
    <h3>User Logins</h3>
    <a href="{% url 'user_create_view_reta' object.id 3 %}">New</a>
    {% for u in object.retentionanalystuser_set.all %}
    {{ u.user }}<br>
    {% endfor %}
    <h3>Sales Agents Managed</h3>
    {% for sales in object.salesaccount_set.all %}
    <div class="row">
      <div class="col-md-3">
        <strong>Agent:</strong> <a href="{% url 'sales_dashboard' sales.id %}">{{ sales.name }}</a>
      </div>
      <div class="col-md-2">
        Total Contracts: {{ sales.contract_set.all.count }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <strong>Vendors:</strong>
        {% for ven in sales.vendors.all %}
          <span>{{ ven }}</span>
        {% endfor %}
      </div>
    </div>
    <hr>
    {% endfor %}
  </div>
</div>



{% endblock %}
