{% extends 'partials/new_dash/admin_base.html' %}
{% block content %}

<div style="font-size:18px;border-bottom:1px solid black;margin-bottom:10px;" class="row">
  <div class="col-md-2">Name</div>
  <div class="col-md-2">Contracts</div>
  <div class="col-md-2">Sales Agents</div>
</div>
{% for reta in object_list %}
<div class="con-item">
<a href="{% url 'retention_analyst_detail' reta.id %}">
  <div class="row">
    <div class="col-md-2">{{ reta.name }}</div>
    <div class="col-md-2">{{ reta.contract_count }}</div>
    <div class="col-md-2">{{ reta.salesaccount_set.all.count }}</div>
    <div class="col-md-6">
      {% for vendor in agent.vendors.all %}
        <div class="col-md-2">
          {{ vendor.name }}
        </div>
      {% endfor %}
    </div>
  </div>
</a>
</div>
{% endfor %}

{% endblock %}
