{% extends 'partials/new_dash/client_base.html' %}
{% block content %}

  <div class="row">
    <div class="col-md-4">
      <h4>Location Info</h4>
      <div class="col-md-4">
        <strong>Site Name: </strong><br>
        <strong>Address: </strong><br>
        <strong>City: </strong><br>
        <strong>State: </strong><br>
        <strong>Zip: </strong><br>
        <strong>Country: </strong>
      </div>
      <div class="col-md-8">
        {{ contract.site_name }}<br>
        {{ contract.address }}<br>
        {{ contract.city }}<br>
        {{ contract.state }}<br>
        {{ contract.zip_code }}<br>
        {{ contract.country }}
      </div>

    </div>
    <div class="col-md-4">
      <h4>General Info</h4>
      <div class="col-md-4">
        <strong>Product: </strong><br>
        <strong>Number: </strong><br>
        <strong>Vendor: </strong><br>
        <strong>Agent: </strong><br>
        <strong>Agent Email: </strong><br>
        <strong>Analyst: </strong><br>
        <strong>Quantity: </strong><br>
      </div>
      <div class="col-md-8">
        {{ contract.product.name }}<br>
        {{ contract.serial }}<br>
        {{ contract.vendor }}<br>
        {{ contract.sale_agent }}<br>
        {{ contract.sale_agent.email }}<br>
        {{ contract.sale_agent.retention_analyst }}<br>
        {{ contract.quantity }}<br>
      </div>
    </div>
    <div class="col-md-4">
      <h4>Details</h4>
      <div class="col-md-5">
        <strong>Cost: </strong><br>
        <strong>Service Level: </strong><br>
        <strong>Pak #: </strong><br>
        <strong>Smart Net SKU: </strong><br>
        <strong>Smart Net Desc: </strong><br>
      </div>
      <div class="col-md-7">
        {{ contract.cost }}<br>
        {{ contract.service_level }}<br>
        {{ contract.pak_num }}<br>
        {{ contract.smart_net_sku }}<br>
        {{ contract.smark_net_desc }}<br>
      </div>
    </div>
  </div>
</div>
{% endblock %}
