<div style="font-size:18px;border-bottom:1px solid black;margin-bottom:10px;" class="row">
  <div class="col-md-2 sort-cat">Contract #</div>
  <div class="col-md-1 sort-cat">Cost</div>
  <div class="col-md-1 sort-cat">Vendor</div>
  <div class="col-md-1 sort-cat">Agent</div>
  <div class="col-md-1 sort-cat">Analyst</div>
  <div class="col-md-6">
    <div class="col-md-3 sort-cat">End Date</div>
    <div class="col-md-3">End Life</div>
    <div class="col-md-3">End Service</div>
    <div class="col-md-3">End Support</div>
  </div>
</div>
{% for con in object.contract_set.all %}
<div class="con-item">
<a href="{% url 'contract_detail_view' con.id %}">
  <div class="row">
    <div class="col-md-2">{{ con.serial }}</div>
    <div class="col-md-1">{{ con.cost }}</div>
    <div class="col-md-1">{{ con.vendor }}</div>
    <div class="col-md-1">{{ con.sale_agent }}</div>
    <div class="col-md-1">{{ con.sale_agent.retention_analyst }}</div>
    <div class="col-md-6">
      {% if con.ninety and not con.active %}
      <div style="color:red;" class="col-md-3">{{ con.end_date }}</div>
      {% elif con.ninety and con.active %}
      <div style="color:orange;" class="col-md-3">{{ con.end_date }}</div>
      {% else %}
      <div class="col-md-3">{{ con.end_date }}</div>
      {% endif %}
      <div class="col-md-3">{{ con.product.part_num.end_of_life }}</div>
      <div class="col-md-3">{{ con.product.part_num.end_of_service }}</div>
      <div class="col-md-3">{{ con.product.part_num.end_of_support }}</div>
    </div>
    <!-- <div class="col-md-2"></div>
    <div class="col-md-2">{{ con.product.part_num.end_of_life }}</div>
    <div class="col-md-2">{{ con.product.part_num.end_of_service }}</div> -->

  </div>
</a>
</div>
{% endfor %}
