{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" media="screen" title="no title">
    <link rel="stylesheet" href="{% static 'css/admin_dash14.css' %}" media="screen" title="no title">
    <meta charset="utf-8">
    <title></title>
  </head>

  <body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class=""><a href="{% url 'login' %}">Login Page</a></li>
        <li><a href="{% url 'admin_dashboard' %}">Dashboard Home</a></li>
        <li>
          <div class="dropdown">
            <button class="dropbtn">Contracts</button>
            <div class="dropdown-content">
              <a href="{% url 'contract_list_view' %}">List</a>
              <a href="{% url 'quote_list_view' %}">Quote List</a>
              <a href="{% url 'quote_create_view_new' %}">Quote Create</a>
            </div>
          </div>
        </li>
        <li>
          <div class="dropdown">
            <button class="dropbtn">Clients</button>
            <div class="dropdown-content">
              <a href="{% url 'client_list_view' %}">List</a>
              <a href="{% url 'user_create_view' 2 %}">Create</a>
            </div>
          </div>
        </li>
        <li>
          <div class="dropdown">
            <button class="dropbtn">Hardware</button>
            <div class="dropdown-content">
              <a href="{% url 'product_list_view' %}">Product List</a>
              <a href="{% url 'part_list_view' %}">Part List</a>
              <a href="{% url 'part_create_view' %}">Part Create</a>
              <a href="{% url 'vendor_list_view' %}">Vendor List</a>
              <a href="{% url 'vendor_create_view' %}">Vendor Create</a>
              <a href="{% url 'manufacturer_list_view' %}">Manufacture List</a>
              <a href="{% url 'manufacturer_create_view' %}">Manufacture Create</a>
            </div>
          </div>
        </li>
        <li>
          <div class="dropdown">
            <button class="dropbtn">Sales</button>
            <div class="dropdown-content">
              <a href="{% url 'salesaccount_list_view' %}">Sales List</a>
              <a href="{% url 'user_create_view' 1 %}">Sales Create</a>
              <a href="{% url 'retention_analyst_list_view' %}">Analyst List</a>
              <a href="{% url 'retention_analyst_create_view' %}">Analyst Create</a>
            </div>
          </div>
        </li>
      </ul>


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


  {% block content%}
  {% endblock %}


</body>
</html>
