{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" media="screen" title="no title">
	<link rel="stylesheet" href="{% static 'css/colors.css' %}" media="screen" title="no title">
	<link rel="stylesheet" href="{% static 'css/components.css' %}" media="screen" title="no title">
	<link rel="stylesheet" href="{% static 'css/admin_dash15.css' %}" media="screen" title="no title">
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-99774743-2', 'auto');
  ga('send', 'pageview');

</script>

	</head>
	<body>
		<div class="navbar navbar-inverse">
			<div class="navbar-header">
				<a class="navbar-brand" href="index.html"><img src="" alt=""></a>

				<ul class="nav navbar-nav visible-xs-block">
					<li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
					<li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
				</ul>
			</div>

			<div class="navbar-collapse collapse" id="navbar-mobile">
				<ul class="nav navbar-nav">
					<li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a></li>

					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="icon-git-compare"></i>
							<span class="visible-xs-inline-block position-right">Git updates</span>
							<span class="badge bg-warning-400">{{ message_amount }}</span>
						</a>
						{% if message_amount %}
						<div class="dropdown-menu dropdown-content">

							<ul class="media-list dropdown-content-body width-200">
								{% if new_client_list %}
								<strong>New Clients</strong> <br>
								{% for message in new_client_list %}
								<div class="row">
									<div class="col-md-6">{{ message.0 }}</div>
									<div class="col-md-6">{{ message.1 }}</div>
								</div>
								{% endfor %}
								{% endif %}
								{% if new_contract_list %}
								<strong>New Contracts</strong> <br>
								<div class="row">
									<div style="text-decoration:underline;" class="col-md-6">Client</div>
									<div style="text-decoration:underline;" class="col-md-6">Cost</div>
								</div>
								{% for message in new_contract_list %}
								<div class="row">
									<div class="col-md-6">{{ message.product.client }}</div>
									<div class="col-md-6">{{ message.cost }}</div>
								</div>
								{% endfor %}
								{% endif %}
							</ul>
						</div>
						{% endif %}
					</li>
				</ul>

				<p class="navbar-text"><span class="label bg-success">Online</span></p>
				<p class="navbar-text"><span id="dash-link"><a style="color:white;!important" href="{% url 'admin_dashboard' %}">Dashboard</a></span></p>

				<div class="dropdown">
					<button class="dropbtn">Contracts</button>
					<div class="dropdown-content">
						<a href="{% url 'contract_list_view' 'number' %}">List</a>
						<a href="{% url 'quote_list_view' %}">Quote List</a>
						<a href="{% url 'quote_create_view_new' %}">Quote Create</a>
					</div>
				</div>
				<div class="dropdown">
					<button class="dropbtn">Clients</button>
					<div class="dropdown-content">
						<a href="{% url 'client_list_view' %}">List</a>
						<a href="{% url 'client_create_view' %}">Create</a>
					</div>
				</div>
				<div class="dropdown">
					<button class="dropbtn">Hardware</button>
					<div class="dropdown-content">
						<a href="{% url 'product_list_view' %}">Product List</a>
						<a href="{% url 'part_list_view' %}">Part List</a>
						<a href="{% url 'part_create_view' %}">Part Create</a>
						<a href="{% url 'vendor_list_view' %}">Vendor List</a>
						<a href="{% url 'vendor_create_view' %}">Vendor Create</a>
						<a href="{% url 'manufacturer_list_view' %}">Manufacture List</a>
						<a href="{% url 'manufacturer_create_view' %}">Manufacture Create</a>
					</div>
				</div>
				<div class="dropdown">
					<button class="dropbtn">Sales</button>
					<div class="dropdown-content">
						<a href="{% url 'salesaccount_list_view' %}">Sales Agent List</a>
						<a href="{% url 'sales_account_create_view' %}">Sales Agent Create</a>
						<a href="{% url 'retention_analyst_list_view' %}">Analyst List</a>
						<a href="{% url 'retention_analyst_create_view' %}">Analyst Create</a>
					</div>
				</div>
				<div class="dropdown">
					<button class="dropbtn">Tools</button>
					<div class="dropdown-content">
						<a href="#">Build Quotes</a>
						<a href="#">Update Prices</a>
						<a href="#">Logs</a>
					</div>
				</div>
			</div>
		</div>

			<div class="content"><br>
				{% block content %}
				{% endblock %}
			</div>


	</body>
</html>
