{% extends 'partials/new_dash/client_base.html' %}

{% block content %}

<div class="row">
  <div class="col-md-6">
    {% for agent in agents %}
    <div class="col-md-4">{{ agent.name }}</div>
    <div class="col-md-8">{{ agent.email }}</div>
    {% endfor %}
  </div>
  <div class="col-md-6">
    {% for reta in analysts %}
    <div class="col-md-4">{{ reta.name }}</div>
    <div class="col-md-8">{{ reta.email }}</div>
    {% endfor %}
  </div>
</div>




{% endblock %}
