{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{% static 'js/bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" media="screen" title="no title">
    <link rel="stylesheet" href="{% static 'css/client_base.css' %}" media="screen" title="no title">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div style="margin-bottom:0px;" class="jumbotron">
      <h2 style="text-align:center;">Retention Profit Pro</h2>
    </div>

    <div style='height:60px;background-color:darkgreen;' class="row">
      <div style="height:100%;" class="col-md-1"></div>
      <div class="col-md-2 no-hover"><a style="color:white;" href="{% url 'client_detail_view' request.user.clientuser.client.id %}">My Contracts</a></div>
      <div class="col-md-2 no-hover"><a style="color:white;" href="{% url 'client_contact_view' request.user.clientuser.client.id %}">Contact</a></div>
      <!-- <div class="col-md-2 dropdown">
        <button class="dropbtn">Vendors</button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div> -->
    </div>

<div class="container">
  <br>
  {% block content %}
  {% endblock %}

</div>



  </body>
</html>
