{% extends 'partials/new_dash/admin_base.html' %}
{% block content %}

<div style="font-size:12px;" class="row">
  <div class="col-md-3">
    <h4>System Activity</h4>
    <div class="row">
      <div class="col-md-6">Last Login:</div>
      <div style="font-size:11px;" class="col-md-6"><strong>{{ request.user.last_login }}</strong></div>
    </div>
    <div class="row">
      <div class="col-md-6">Username:</div>
      <div class="col-md-6"><strong>{{ request.user.username }}</strong></div>
    </div>
    <div class="row">
      <div class="col-md-6">Last Setup Change:</div>
      <div class="col-md-6">Placeholder</div>
    </div>
    <div class="row">
      <div class="col-md-6">Username:</div>
      <div class="col-md-6">Placeholder</div>
    </div>
    <div class="row">
      <div class="col-md-6">Last Rebuild Quotes:</div>
      <div class="col-md-6">Placeholder</div>
    </div>
    <div class="row">
      <div class="col-md-6">Usernames:</div>
      <div class="col-md-6">Placeholder</div>
    </div>
    <div class="row">
      <div class="col-md-6">Direct Mail Ops:</div>
      <div class="col-md-6">500</div>
    </div>
    <div class="row">
      <div class="col-md-6">Email Ops:</div>
      <div class="col-md-6">500</div>
    </div>
    <div class="row">
      <div class="col-md-6">Slacks this month:</div>
      <div class="col-md-6">500</div>
    </div>
    <div class="row">
      <div class="col-md-6">Slacks last month:</div>
      <div class="col-md-6">500</div>
    </div>
  </div>

  <div class="col-md-3">
    <h4>Contracts</h4>

    <div class="row">
      {% if contracts %}
      <div class="col-md-12">
        <div style="width:80%;" class="dropdown dash-drop">
          <button style="width:100%!important;" class="dropbtn dashbtn">
            <div class="row">
              <div style="text-align:left;" class="col-md-10">
                Individual Contracts:
              </div>
              <div class="text-right"  class="col-md-2">
                <strong>{{ contracts|length }}</strong>
              </div>
            </div>
          </button>
          <div style="min-width:850px;" class="dropdown-content">
            <div style="height:40px;padding-top:8px;margin:0px;font-size:18px;background-color:lightgrey;" class="row">
              <div class="col-md-2">Number</div>
              <div class="col-md-1">Client</div>
              <div class="col-md-1">Vendor</div>
              <div class="col-md-2">End Date</div>
              <div class="col-md-2">End Service</div>
              <div class="col-md-2">End Life</div>
              <div class="col-md-2">End Support</div>
            </div>
            {% for con in contracts %}
            <a href="{% url 'contract_detail_view' con.id %}">
            <div class="row">
              <div class="col-md-2">{{ con.serial }}</div>
              <div class="col-md-1">{{ con.client }}</div>
              <div class="col-md-1">{{ con.vendor }}</div>
              {% if con.active and con.ninety %}
              <div style="color:orange;" class="col-md-2">{{ con.end_date }}</div>
              {% elif not con.active %}
              <div style="color:red;" class="col-md-2">{{ con.end_date }}</div>
              {% else %}
              <div style="" class="col-md-2">{{ con.end_date }}</div>
              {% endif %}
              <div class="col-md-2">{{ con.product.part_num.end_of_service }}</div>
              <div class="col-md-2">{{ con.product.part_num.end_of_life }}</div>
              <div class="col-md-2">{{ con.product.part_num.end_of_support }}</div>
            </div>
            </a>
            {% endfor %}
          </div>
        </div>
      </div>
      {% else %}
      <div style="width:80%" class="">
        <div style="padding-top:15px;" class="col-md-10">Individual Contracts</div>
        <div class="text-right" style="padding-top:15px;padding-right:10px;" class="col-md-2"><strong>{{ contracts|length }}</strong></div>
      </div>
      {% endif %}
    </div>




    <div class="row">
      {% if expiring_contracts %}
      <div class="col-md-12">
        <div style="width:80%;" class="dropdown dash-drop">
          <button style="width:100%!important;" class="dropbtn dashbtn">
            <div class="row">
              <div style="text-align:left;" class="col-md-10">
                Expiring Contracts:
              </div>
              <div class="text-right" class="col-md-2">
                <strong>{{ expiring_contracts|length }}</strong>
              </div>
            </div>
          </button>
          <div style="min-width:850px;" class="dropdown-content">
            <div style="margin:1px;font-size:16px;" class="row">
              <div class="col-md-2">Number</div>
              <div class="col-md-1">Client</div>
              <div class="col-md-1">Vendor</div>
              <div class="col-md-2">End Date</div>
              <div class="col-md-2">End Service</div>
              <div class="col-md-2">End Life</div>
              <div class="col-md-2">End Support</div>
            </div>
            {% for con in expiring_contracts %}
            <a href="{% url 'contract_detail_view' con.id %}">
            <div class="row">
              <div class="col-md-2">{{ con.serial }}</div>
              <div class="col-md-1">{{ con.client }}</div>
              <div class="col-md-1">{{ con.vendor }}</div>
              {% if con.active and con.ninety %}
              <div style="color:orange;" class="col-md-2">{{ con.end_date }}</div>
              {% elif not con.active %}
              <div style="color:red;" class="col-md-2">{{ con.end_date }}</div>
              {% else %}
              <div style="" class="col-md-2">{{ con.end_date }}</div>
              {% endif %}
              <div class="col-md-2">{{ con.product.part_num.end_of_service }}</div>
              <div class="col-md-2">{{ con.product.part_num.end_of_life }}</div>
              <div class="col-md-2">{{ con.product.part_num.end_of_support }}</div>
            </div>
            </a>
            {% endfor %}
          </div>
        </div>
      </div>
      {% else %}
      <div style="padding-top:15px;" class="col-md-8">Expiring in 180 days:</div>
      <div style="padding-top:15px;" class="col-md-4"><strong>{{ expiring_contracts|length }}</strong></div>
      {% endif %}
    </div>



    <div class="row">
      {% if trueups %}
      <div class="col-md-12">
        <div style="width:80%;" class="dropdown dash-drop">
          <button style="width:100%!important;" class="dropbtn dashbtn">
            <div class="row">
              <div style="text-align:left;" class="col-md-10">
                Contracts not trued up:
              </div>
              <div class="text-right" class="col-md-2">
                <strong>{{ trueups|length }}</strong>
              </div>
            </div>
          </button>
          <div style="min-width:850px;" class="dropdown-content">
            <div style="height:40px;padding-top:8px;margin:0px;font-size:18px;background-color:lightgrey;" class="row">
              <div class="col-md-2">Number</div>
              <div class="col-md-1">Client</div>
              <div class="col-md-1">Vendor</div>
              <div class="col-md-2">End Date</div>
              <div class="col-md-2">End Service</div>
              <div class="col-md-2">End Life</div>
              <div class="col-md-2">End Support</div>
            </div>
            {% for con in trueups %}
            <a href="{% url 'contract_detail_view' con.id %}">
            <div class="row">
              <div class="col-md-2">{{ con.serial }}</div>
              <div class="col-md-1">{{ con.client }}</div>
              <div class="col-md-1">{{ con.vendor }}</div>
              {% if con.active and con.ninety %}
              <div style="color:orange;" class="col-md-2">{{ con.end_date }}</div>
              {% elif not con.active %}
              <div style="color:red;" class="col-md-2">{{ con.end_date }}</div>
              {% else %}
              <div style="" class="col-md-2">{{ con.end_date }}</div>
              {% endif %}
              <div class="col-md-2">{{ con.product.part_num.end_of_service }}</div>
              <div class="col-md-2">{{ con.product.part_num.end_of_life }}</div>
              <div class="col-md-2">{{ con.product.part_num.end_of_support }}</div>
            </div>
            </a>
            {% endfor %}
          </div>
        </div>
      </div>
      {% else %}
      <div style="padding-top:15px;" class="col-md-8">Contracts not trued up</div>
      <div style="padding-top:15px;" class="col-md-4"><strong>{{ trueup|length }}</strong></div>
      {% endif %}
    </div>





            <div class="row">
              {% if expired_cons %}
              <div class="col-md-12">
                <div style="width:80%;" class="dropdown dash-drop">
                  <button style="width:100%!important;" class="dropbtn dashbtn">
                    <div class="row">
                      <div style="text-align:left;" class="col-md-10">
                        Expired Contracts:
                      </div>
                      <div class="text-right" class="col-md-2">
                        <strong>{{ expired_cons|length }}</strong>
                      </div>
                    </div>
                  </button>
                  <div style="min-width:850px;" class="dropdown-content">
                    <div style="height:40px;padding-top:8px;margin:0px;font-size:18px;background-color:lightgrey;" class="row">
                      <div class="col-md-2">Number</div>
                      <div class="col-md-1">Client</div>
                      <div class="col-md-1">Vendor</div>
                      <div class="col-md-2">End Date</div>
                      <div class="col-md-2">End Service</div>
                      <div class="col-md-2">End Life</div>
                      <div class="col-md-2">End Support</div>
                    </div>
                    {% for con in expired_cons %}
                    <a href="{% url 'contract_detail_view' con.id %}">
                    <div class="row">
                      <div class="col-md-2">{{ con.serial }}</div>
                      <div class="col-md-1">{{ con.client }}</div>
                      <div class="col-md-1">{{ con.vendor }}</div>
                      {% if con.active and con.ninety %}
                      <div style="color:orange;" class="col-md-2">{{ con.end_date }}</div>
                      {% elif not con.active %}
                      <div style="color:red;" class="col-md-2">{{ con.end_date }}</div>
                      {% else %}
                      <div style="" class="col-md-2">{{ con.end_date }}</div>
                      {% endif %}
                      <div class="col-md-2">{{ con.product.part_num.end_of_service }}</div>
                      <div class="col-md-2">{{ con.product.part_num.end_of_life }}</div>
                      <div class="col-md-2">{{ con.product.part_num.end_of_support }}</div>
                    </div>
                    </a>
                    {% endfor %}
                  </div>
                </div>
              </div>
              {% else %}
              <div style="padding-top:15px;" class="col-md-8">Expired Contracts</div>
              <div style="padding-top:15px;" class="col-md-4"><strong>{{ expired_cons|length }}</strong></div>
              {% endif %}
            </div>




            <div class="row">
              {% if expiring_contract %}
              <div class="col-md-12">
                <div style="width:80%;" class="dropdown dash-drop">
                  <button style="width:100%!important;" class="dropbtn dashbtn">
                    <div class="row">
                      <div style="text-align:left;" class="col-md-10">
                        Service Expiring in 180 days:
                      </div>
                      <div class="text-right" class="col-md-2">
                        <strong>{{ expiring_contract|length }}</strong>
                      </div>
                    </div>
                  </button>
                  <div style="min-width:850px;" class="dropdown-content">
                    <div style="height:40px;padding-top:8px;margin:0px;font-size:18px;background-color:lightgrey;" class="row">
                      <div class="col-md-2">Number</div>
                      <div class="col-md-1">Client</div>
                      <div class="col-md-1">Vendor</div>
                      <div class="col-md-2">End Date</div>
                      <div class="col-md-2">End Service</div>
                      <div class="col-md-2">End Life</div>
                      <div class="col-md-2">End Support</div>
                    </div>
                    {% for con in expiring_contract %}
                    <a href="{% url 'contract_detail_view' con.id %}">
                    <div class="row">
                      <div class="col-md-2">{{ con.serial }}</div>
                      <div class="col-md-1">{{ con.client }}</div>
                      <div class="col-md-1">{{ con.vendor }}</div>
                      {% if con.active and con.ninety %}
                      <div style="color:orange;" class="col-md-2">{{ con.end_date }}</div>
                      {% elif not con.active %}
                      <div style="color:red;" class="col-md-2">{{ con.end_date }}</div>
                      {% else %}
                      <div style="" class="col-md-2">{{ con.end_date }}</div>
                      {% endif %}
                      <div class="col-md-2">{{ con.product.part_num.end_of_service }}</div>
                      <div class="col-md-2">{{ con.product.part_num.end_of_life }}</div>
                      <div class="col-md-2">{{ con.product.part_num.end_of_support }}</div>
                    </div>
                    </a>
                    {% endfor %}
                  </div>
                </div>
              </div>
              {% else %}
              <div style="width:80%" class="">
                <div style="padding-top:15px;" class="col-md-10">Service Expiring in 180 Days:</div>
                <div class="text-right" style="padding-top:15px;padding-right:10px;" class="col-md-2"><strong>{{ expired_contract|length }}</strong></div>
              </div>

              {% endif %}
            </div>




            <div class="row">
              {% if expired_service %}
              <div class="col-md-12">
                <div style="width:80%;" class="dropdown dash-drop">
                  <button style="width:100%!important;" class="dropbtn dashbtn">
                    <div class="row">
                      <div style="text-align:left;" class="col-md-10">
                        Service is Expired
                      </div>
                      <div class="text-right" class="col-md-2">
                        <strong>{{ expired_service|length }}</strong>
                      </div>
                    </div>
                  </button>
                  <div style="min-width:850px;" class="dropdown-content">
                    <div style="height:40px;padding-top:8px;margin:0px;font-size:18px;background-color:lightgrey;" class="row">
                      <div class="col-md-2">Number</div>
                      <div class="col-md-1">Client</div>
                      <div class="col-md-1">Vendor</div>
                      <div class="col-md-2">End Date</div>
                      <div class="col-md-2">End Service</div>
                      <div class="col-md-2">End Life</div>
                      <div class="col-md-2">End Support</div>
                    </div>
                    {% for con in expired_service %}
                    <a href="{% url 'contract_detail_view' con.id %}">
                    <div class="row">
                      <div class="col-md-2">{{ con.serial }}</div>
                      <div class="col-md-1">{{ con.client }}</div>
                      <div class="col-md-1">{{ con.vendor }}</div>
                      {% if con.active and con.ninety %}
                      <div style="color:orange;" class="col-md-2">{{ con.end_date }}</div>
                      {% elif not con.active %}
                      <div style="color:red;" class="col-md-2">{{ con.end_date }}</div>
                      {% else %}
                      <div style="" class="col-md-2">{{ con.end_date }}</div>
                      {% endif %}
                      <div class="col-md-2">{{ con.product.part_num.end_of_service }}</div>
                      <div class="col-md-2">{{ con.product.part_num.end_of_life }}</div>
                      <div class="col-md-2">{{ con.product.part_num.end_of_support }}</div>
                    </div>
                    </a>
                    {% endfor %}
                  </div>
                </div>
              </div>
              {% else %}
              <div style="width:80%" class="">
                <div style="padding-top:15px;" class="col-md-10">Service is Expired</div>
                <div class="text-right" style="padding-top:15px;padding-right:10px;" class="col-md-2"><strong>{{ expired_service|length }}</strong></div>
              </div>
              {% endif %}
            </div>



            <div class="row">
              {% if expiring_life %}
              <div class="col-md-12">
                <div style="width:80%;" class="dropdown dash-drop">
                  <button style="width:100%!important;" class="dropbtn dashbtn">
                    <div class="row">
                      <div style="text-align:left;" class="col-md-10">
                        End of life expiring in 180 days:
                      </div>
                      <div class="text-right" class="col-md-2">
                        <strong>{{ expiring_life|length }}</strong>
                      </div>
                    </div>
                  </button>
                  <div style="min-width:850px;" class="dropdown-content">
                    <div style="height:40px;padding-top:8px;margin:0px;font-size:18px;background-color:lightgrey;" class="row">
                      <div class="col-md-2">Number</div>
                      <div class="col-md-1">Client</div>
                      <div class="col-md-1">Vendor</div>
                      <div class="col-md-2">End Date</div>
                      <div class="col-md-2">End Service</div>
                      <div class="col-md-2">End Life</div>
                      <div class="col-md-2">End Support</div>
                    </div>
                    {% for con in expiring_life %}
                    <a href="{% url 'contract_detail_view' con.id %}">
                    <div class="row">
                      <div class="col-md-2">{{ con.serial }}</div>
                      <div class="col-md-1">{{ con.client }}</div>
                      <div class="col-md-1">{{ con.vendor }}</div>
                      {% if con.active and con.ninety %}
                      <div style="color:orange;" class="col-md-2">{{ con.end_date }}</div>
                      {% elif not con.active %}
                      <div style="color:red;" class="col-md-2">{{ con.end_date }}</div>
                      {% else %}
                      <div style="" class="col-md-2">{{ con.end_date }}</div>
                      {% endif %}
                      <div class="col-md-2">{{ con.product.part_num.end_of_service }}</div>
                      <div class="col-md-2">{{ con.product.part_num.end_of_life }}</div>
                      <div class="col-md-2">{{ con.product.part_num.end_of_support }}</div>
                    </div>
                    </a>
                    {% endfor %}
                  </div>
                </div>
              </div>
              {% else %}
              <div style="width:80%" class="">
                <div style="padding-top:15px;" class="col-md-10">End of life expiring in 180 days:</div>
                <div class="text-right" style="padding-top:15px;padding-right:10px;" class="col-md-2"><strong>{{ expiring_life|length }}</strong></div>
              </div>
              {% endif %}
            </div>







            <div class="row">
              {% if expired_life %}
              <div class="col-md-12">
                <div style="width:80%;" class="dropdown dash-drop">
                  <button style="width:100%!important;" class="dropbtn dashbtn">
                    <div class="row">
                      <div style="text-align:left;" class="col-md-10">
                        End of life Expired
                      </div>
                      <div class="text-right" class="col-md-2">
                        <strong>{{ expired_life|length }}</strong>
                      </div>
                    </div>
                  </button>
                  <div style="min-width:850px;" class="dropdown-content">
                    <div style="height:40px;padding-top:8px;margin:0px;font-size:18px;background-color:lightgrey;" class="row">
                      <div class="col-md-2">Number</div>
                      <div class="col-md-1">Client</div>
                      <div class="col-md-1">Vendor</div>
                      <div class="col-md-2">End Date</div>
                      <div class="col-md-2">End Service</div>
                      <div class="col-md-2">End Life</div>
                      <div class="col-md-2">End Support</div>
                    </div>
                    {% for con in expired_life %}
                    <a href="{% url 'contract_detail_view' con.id %}">
                    <div class="row">
                      <div class="col-md-2">{{ con.serial }}</div>
                      <div class="col-md-1">{{ con.client }}</div>
                      <div class="col-md-1">{{ con.vendor }}</div>
                      {% if con.active and con.ninety %}
                      <div style="color:orange;" class="col-md-2">{{ con.end_date }}</div>
                      {% elif not con.active %}
                      <div style="color:red;" class="col-md-2">{{ con.end_date }}</div>
                      {% else %}
                      <div style="" class="col-md-2">{{ con.end_date }}</div>
                      {% endif %}
                      <div class="col-md-2">{{ con.product.part_num.end_of_service }}</div>
                      <div class="col-md-2">{{ con.product.part_num.end_of_life }}</div>
                      <div class="col-md-2">{{ con.product.part_num.end_of_support }}</div>
                    </div>
                    </a>
                    {% endfor %}
                  </div>
                </div>
              </div>
              {% else %}
              <div style="width:80%" class="">
                <div style="padding-top:15px;" class="col-md-10">End of Life expired</div>
                <div class="text-right" style="padding-top:15px;padding-right:10px;" class="col-md-2"><strong>{{ expired_life|length }}</strong></div>
              </div>
              {% endif %}
            </div>





    <div class="row">
      {% if quotes %}
      <div class="col-md-12">
        <div style="width:80%;" class="dropdown dash-drop">
          <button style="width:100%!important;" class="dropbtn dashbtn">
            <div class="row">
              <div style="text-align:left;" class="col-md-10">
                Total Renewal Quotes
              </div>
              <div class="text-right" class="col-md-2">
                <strong>{{ quotes|length }}</strong>
              </div>
            </div>
          </button>
          <div style="min-width:850px;" class="dropdown-content">
            <div style="margin:1px;font-size:16px;" class="row">
              <div class="col-md-2">Number</div>
              <div class="col-md-2">Begin Date</div>
              <div class="col-md-2">End Date</div>
              <div class="col-md-2">End Service</div>
              <div class="col-md-2">End Life</div>
              <div class="col-md-2">End Support</div>
            </div>
            {% for quote in quotes %}
            <a href="/">
            <div class="row">
              <div class="col-md-2">{{ quote.contract.serial }}</div>
              <div class="col-md-2">{{ quote.begin_date }}</div>
              <div class="col-md-2">{{ quote.end_date }}</div>
              <div class="col-md-2">{{ quote.contract.product.part_num.end_of_service }}</div>
              <div class="col-md-2">{{ quote.contract.product.part_num.end_of_life }}</div>
              <div class="col-md-2">{{ quote.contract.product.part_num.end_of_support }}</div>
            </div>
            </a>
            {% endfor %}
          </div>
        </div>
      </div>
      {% else %}
      <div style="padding-top:15px;" class="col-md-8">Total Renewal Quotes:</div>
      <div style="padding-top:15px;" class="col-md-4"><strong>{{ quotes|length }}</strong></div>
      {% endif %}
    </div>



    <div class="row">
      <div style="padding-top:15px" class="col-md-8">Lease Quotes:</div>
      <div style="padding-top:15px" class="col-md-4">Placeholder</div>
    </div>
    <div class="row">
      <div style="padding-top:15px" class="col-md-8">Vendor portal logins:</div>
      <div style="padding-top:15px" class="col-md-4">Placeholder</div>
    </div>
  </div>

  <div class="col-md-3">
    <h4>Contracts by retention analyst</h4>
    {% for reta in retention_analysts %}
    <div class="row">
      <div class="col-md-6">{{ reta }}</div>
      <div class="col-md-6"><strong>{{ reta.contract_count }}</strong></div>
    </div>
    {% endfor %}
  </div>

  <div class="col-md-3">
    <h4>Contracts by Salesperson</h4>
    {% for agent in sales %}
    <div class="row">
      <div class="col-md-6">{{ agent.name }}</div>
      <div class="col-md-6"><strong>{{ agent.contract_set.all.count }}</strong></div>
    </div>
    {% endfor %}
  </div>

</div>



{% endblock %}
