{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{% static 'js/bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" media="screen" title="no title">
    <link rel="stylesheet" href="{% static 'css/client_base.css' %}" media="screen" title="no title">
    <link rel="stylesheet" href="{% static 'css/sales_base.css' %}" media="screen" title="no title">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div style="margin-bottom:0px;" class="jumbotron">
      <h2 style="text-align:center;">Retention Profit Pro</h2>
    </div>

    <div style='height:60px;background-color:navy;color:white' class="row">
      <div style="height:100%;" class="col-md-1"></div>
      <div class="col-md-2 drop-item" ><a id='dash-link' style="color:white;" href="{% url 'salesaccount_detail_view' request.user.salesuser.sales_account.id %}">Dashboard</a></div>
      <div class="col-md-2 dropdown">
        <button class="dropbtn">Contracts</button>
        <div class="dropdown-content">
          <a href="{% url 'sales_contract_list_view' request.user.salesuser.sales_account.id 'end_date' %}">List</a>
          <a href="#">Add</a>
          <a href="#">Link 3</a>
        </div>
      </div>
      <div class="col-md-2 dropdown">
        <button class="dropbtn">Clients</button>
        <div class="dropdown-content">
          <a href="{% url 'sales_client_list_view' request.user.salesuser.sales_account.id %}">List</a>
          <a href="{% url 'client_create_view' %}">Add</a>
          <a href="#">Link 3</a>
        </div>
      </div>
    </div>

  <br>
  <div class="col-md-12">
    {% block content %}
    {% endblock %}
  </div>



  </body>
</html>
