{% extends 'partials/new_dash/sales_base.html' %}
{% block content %}

<div class="row">
  <div class="col-md-6">
    <h3>Recent Activity Week</h3>
    <div class="row">
      <div class="col-md-4">
        Contracts Added:<br>
        Clients Added:<br>
        Commission:
      </div>
      <div class="col-md-8">
        <strong>{{ con_added_week|length }}</strong><br>
        <strong>{{ clients_added_week.count }}</strong><br>
        <strong>{{ commission_week }}</strong>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h3>Recent Activity Month</h3>
    <div class="row">
      <div class="col-md-4">
        Contracts Added:<br>
        Clients Added:<br>
        Commission
      </div>
      <div class="col-md-8">
        <strong>{{ con_added_month|length }}</strong><br>
        <strong>{{ clients_added_month.count }}</strong><br>
        <strong>{{ commission_month }}</strong>
      </div>
    </div>
  </div>
</div>

{% endblock %}
