{% extends 'partials/new_dash/admin_base.html' %}
{% block content %}

<div class="row">
  <div class="col-md-4">
    <h3>General Info</h3>
    <div class="row">
      <div class="col-md-4">
        Name:<br>
        Client:<br>
        Serial:<br>
        Purchase Date:<br>
        Price:<br>
      </div>
      <div class="col-md-8">
        {{ object.name }}<br>
        {{ object.client }}<br>
        {{ object.serial }}<br>
        {{ object.purchase_date }}<br>
        {{ object.price }}
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>Service Info</h3>
    <div class="row">
      <div class="col-md-4">
        Service Category:<br>
        Quantity Min:<br>
        Quantity Max:<br>
        Duration:<br>
        Orderability:<br>
        Service Program:<br>
        Base Discount:<br>
        End of Sale Date:<br>
        End of Service:<br>
        End of Life:<br>
        End of Support:
      </div>
      <div class="col-md-8">
        {{ product.service_category }}<br>
        {{ product.quantity_min }}<br>
        {{ product.quantity_max }}<br>
        {{ product.duration }}<br>
        {{ product.orderability }}<br>
        {{ product.service_program }}<br>
        {{ product.category_base_discount_name }}<br>
        {{ product.end_of_sale_date }}<br>
        {{ product.part_num.end_of_service }}<br>
        {{ product.part_num.end_of_life }}<br>
        {{ product.part_num.end_of_support }}
      </div>
    </div>
  </div>
  <div class="col-md-4">
    {% if object.contract_set.all %}
    <div class="row">
      <h3>Contract Info</h3>
      {% for contract in object.contract_set.all %}
      <div style="padding-bottom:20px;" class="row">
        <div class="col-md-4">
          Number:<br>
          Start Date:<br>
          End Date:<br>
          Agent:<br>
          End of Service:<br>
        </div>
        <div class="col-md-8">
          {{ contract.serial }}<br>
          {{ contract.start_date }}<br>
          {{ contract.end_date }}<br>
          {{ contract.sale_agent }}<br>
          {{ contract.end_of_service }}<br>
        </div>
      </div>
      {% endfor %}
    </div>
    {% else %}
      <h3>No Contracts</h3>
    {% endif %}
  </div>
</div>

{% endblock %}
