{% extends 'partials/new_dash/admin_base.html' %}
{% block content %}

<div style="font-size:18px;border-bottom:1px solid black;margin-bottom:10px;" class="row">
  <div class="col-md-2">Serial</div>
  <div class="col-md-2">Name</div>
  <div class="col-md-2">Client</div>
  <div class="col-md-1">Contract</div>
  <div class="col-md-2">Purchase</div>
  <div class="col-md-3">Desc</div>
</div>

<div class="con-item">
  {% for product in object_list %}
  <a href="{% url 'product_detail_view' product.id %}">
    <div class="row">
      <div class="col-md-2">{{ product.serial }}</div>
      <div class="col-md-2">{{ product.name }}</div>
      <div class="col-md-2">{{ product.client }}</div>
      {% if product.contract_set.all %}
      <div class="col-md-1">Y</div>
      {% else %}
      <div class="col-md-1">N</div>
      {% endif %}
      <div class="col-md-2">{{ product.purchase_date }}</div>
      <div class="col-md-3">{{ product.part_num.desc|truncatechars:40 }}</div>
    </div>
  </a>
  {% endfor %}
</div>
{% endblock %}
