{% extends 'partials/new_dash/admin_base.html' %}

{% block content %}

<div class="row bot-form">
  <div class="col-md-2"></div>
  <div class="col-md-8 form-box">
    <h3 style='text-align:center;'>Product Form</h3>
    <form class="" method="post">
      {% csrf_token %}
      {% for field in form %}
      <div class="row form-cat">
        <div class="col-md-3">{{ field.label }}</div>
        <div class="col-md-9">{{ field }}</div>
      </div>
      {% endfor %}

      <div class="row form-cat">
        <div class="col-md-3"></div>
        <div class="col-md-9"><input class="btn" type="submit" name="" value="Submit"></div>
      </div>

    </form>
  </div>
</div>
{% endblock %}
