{% extends 'partials/new_dash/admin_base.html' %}
{% block content %}

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-8">
    <div class="topbox">
      <h4>Overview</h4>
      Name: {{ salesaccount.name }}<br>
      Logins: {{ object.salesaccountlogin_set.all.count }}<br>
      Analyst: <a href="{% url 'retention_analyst_detail' salesaccount.retention_analyst.id %}">{{ object.retention_analyst }}</a><br>
      Vendors:
      {% for ven in salesaccount.vendors.all %}
        {{ ven.name }}
      {% endfor %}<br>
      <h4>Activity</h4>
      Contracts Added in last week: {{ added_week.count }}<br>
      Contracts Added in last month: {{ added_month.count }}<br>
      <a href="{% url 'user_create_view_sales' salesaccount.id 1 %}"><button style="width:120px;" class="btn btn-warning" type="button" name="button">Add Login</button></a>
      <a href="{% url 'salesaccount_update_view' salesaccount.id %}"><button style="width:120px;" class="btn btn-success" type="button" name="button">Edit</button></a>
    </div>
  </div>
</div>
<h3 style="text-align:center;">Managed Contracts</h3>

<div style="font-size:18px;border-bottom:1px solid black;margin-bottom:10px;" class="row">
  <div class="col-md-2">Contract #</div>
  <div class="col-md-1">Client</div>
  <div class="col-md-1">Vendor</div>
  <div class="col-md-1">Agent</div>
  <div class="col-md-1">Analyst</div>
  <div class="col-md-6">
    <div class="col-md-3">End Date</div>
    <div class="col-md-3">End Life</div>
    <div class="col-md-3">End Service</div>
    <div class="col-md-3">End Support</div>
  </div>
</div>
{% for con in object.contract_set.all %}
<div class="con-item">
<a href="{% url 'contract_detail_view' con.id %}">
  <div class="row">
    <div class="col-md-2">{{ con.serial }}</div>
    <div class="col-md-1">{{ con.product.client }}</div>
    <div class="col-md-1">{{ con.vendor }}</div>
    <div class="col-md-1">{{ con.sale_agent }}</div>
    <div class="col-md-1">{{ con.sale_agent.retention_analyst }}</div>
    <div class="col-md-6">
      {% if con.ninety and not con.active %}
      <div style="color:red;" class="col-md-3">{{ con.end_date }}</div>
      {% elif con.ninety and con.active %}
      <div style="color:orange;" class="col-md-3">{{ con.end_date }}</div>
      {% else %}
      <div class="col-md-3">{{ con.end_date }}</div>
      {% endif %}
      <div class="col-md-3">{{ con.product.part_num.end_of_life }}</div>
      <div class="col-md-3">{{ con.product.part_num.end_of_service }}</div>
      <div class="col-md-3">{{ con.product.part_num.end_of_support }}</div>
    </div>
    <!-- <div class="col-md-2"></div>
    <div class="col-md-2">{{ con.product.part_num.end_of_life }}</div>
    <div class="col-md-2">{{ con.product.part_num.end_of_service }}</div> -->

  </div>
</a>
</div>
{% endfor %}




{% endblock %}
