{% extends 'partials/new_dash/admin_base.html' %}
{% block content %}

<div style="font-size:18px;border-bottom:1px solid black;margin-bottom:10px;" class="row">
  <div class="col-md-2">Name</div>
  <div class="col-md-2">Retention Analyst</div>
  <div class="col-md-2">Contracts</div>
  <div class="col-md-2">Vendors</div>
</div>
{% for agent in object_list %}
<div class="con-item">
<a href="{% url 'salesaccount_detail_view' agent.id %}">
  <div class="row">
    <div class="col-md-2">{{ agent.name }}</div>
    <div class="col-md-2">{{ agent.retention_analyst }}</div>
    <div class="col-md-2">{{ agent.contract_set.all.count }}</div>
    <div class="col-md-6">
      {% for vendor in agent.vendors.all %}
        <div class="col-md-1">
          {{ vendor.name }}
        </div>
      {% endfor %}
    </div>
  </div>
</a>
</div>
{% endfor %}

{% endblock %}
