{% extends 'partials/new_dash/admin_base.html' %}

{% block content %}

<div class="row bot-form">
  <div class="col-md-2"></div>
  <div class="col-md-8 form-box">
    <h3 style='text-align:center;'>Sales Agent Form</h3>
    <form class="" method="post">
      {% csrf_token %}
      <div class="row form-cat">
        <div class="col-md-3">Name:</div>
        <div class="col-md-9">{{ form.name }}</div>
      </div>
      <div class="row form-cat">
        <div class="col-md-3">Vendors:</div>
        <div class="col-md-9">{{ form.vendors }}</div>
      </div>
      <div class="row form-cat">
        <div class="col-md-3">Retention Agent:</div>
        <div class="col-md-9">{{ form.retention_analyst }}</div>
      </div>
      <div class="row form-cat">
        <div class="col-md-3"></div>
        <div class="col-md-9"><input class="btn" type="submit" name="" value="Submit"></div>
      </div>

    </form>
  </div>
</div>

{% endblock %}
