{% extends 'partials/new_dash/sales_base.html' %}
{% block content %}

<form autocomplete="off" class="" method="post">
  {% csrf_token %}
  {% for field in form %}
  <div style="margin:5px;" class="row">
    <div class="col-md-2">
      {{ field.label }}
    </div>
    <div class="col-md-6">
      {{ field }}
    </div>

  </div>
  {% endfor %}
  <div style="margin:5px;" class="row">
    <div class="col-md-3">
      <input class="btn btn-success" type="submit" name="" value="Submit">
    </div>
  </div>
</form>

{% endblock %}
