
@media(min-width:768px) {
    #wrapper {
        padding-left: 0;
    }

    #wrapper.toggled {
        padding-left: 250px;
    }

    #sidebar-wrapper {
        width: 0;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.twenty {
  font-size: 18px;
}

.top {
  font-size: 20px;
  background-color: lightblue;
  border-bottom: 2px solid black;
}

.item {
  font-size: 16px;
  text-decoration: none;
  color: black;
}

.item:hover {
  text-decoration: none;
  color: grey;
}

.green {
  background-color: green!important;
  border-color: green!important;
}

.orange {
  background-color: #eb9114 !important;
  border-color: #eb9114 !important;
}

.red {
  background-color: #d9534f !important;
  border-color: #d9534f !important;
}

.lightgreen {
  background-color: lightgreen!important;
}

.lightorange {
  background-color: #f3bd72!important;
}

.lightred {
  background-color: #e38582!important;
}

.utility-bar {
  background-color: #f8f8f8;
  border: 1px solid #e7e7e7;
}

.utility-bar a {
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.utility-bar a:hover{
  color: grey;
}

.bot-form {
  border-top: 2px solid black;
  padding-top: 30px;
  min-height: 250px;
}

.manu-logo {
  max-width: 25px;
  max-height: 25px;
}

.form-cat {
  padding: 10px;
  font-size: 16px;
}

.form-box {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border: 2px solid lightblue;
}

#id_desc {
  height: 100px;
}

.list-cat {
  color: white;
}

.list-cat a {
  color: lightgrey;
  font-size: 14px;
}

/* Dropdown Button */
.dropbtn {
    background-color: #222;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: sans-serif;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: lightblue!important;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: none;
}

.drop-item {
  font-size: 20px;
  text-align: center;
  padding: 16px;
  font-family: sans-serif;
}

.top-new {
  font-size: 12px;
}

.bot-new {
  font-size: 10px;
}

.list-box {
  margin-left: 10px;
  margin-right: 10px;
}

.header {
  background-color: lightblue;
  text-decoration: underline;
  margin-top: 15px;
}

.bot-new-row {
  margin-bottom: 10px;
}

.top-divider {
  border-top: 5px solid black;
  margin-top: 30px;
}

.opt {
  color: grey!important;
}
.con-item {
}

.con-item a {
  color: black!important;
}

.con-item a:hover {
  color:grey!important;
  text-decoration: none;
}

.contract-btn {
  width: 150px;
  height: 50px;
  font-size: 20px;
}

#dash-link a:hover {
  text-decoration: none;
  color: white;
}

#dash-link {
  font-size: 16px!important;
}

.dashbtn {
  font-size: 12px!important;
  color: black!important;
  background-color: white!important;
  margin-left: 0px!important;
  padding-left: 0px!important;
  height: 10px!important;
}

.sort-cat a {
  color:black;
}

.sort-cat a:hover {
  color: grey;
  text-decoration: none;
}


.table-left td {
  min-width: 80px!important;
}

.table-right td {
  min-width: 120px!important;
}

tr {height: 80px!important;}
