/* Dropdown Button */
.dropbtn {
    background-color: navy;
    color: white;
    padding: 16px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    font-family: sans-serif;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: lightblue;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: darkblue;
}

.drop-item {
  font-size: 20px;
  text-align: center;
  padding: 16px;
  font-family: sans-serif;
}

.top {
  background-color: darkblue;
  color: white;
  font-size: 18px;

}

.bot-box {
  border: 2px solid black;
}

.bot {
  background-color: lightblue;
}

.con-item a {
  color: black!important;
}

.con-item a:hover {
  color:grey!important;
  text-decoration: none;
}

.no-hover {
  text-align: center;
  margin-top: 15px;
  font-size: 20px;
}

.no-hover a:hover {
  color:silver!important;
  text-decoration: none!important;
}
