.flex-grid {
  display: flex;
  margin-left: 20px;
  border: 1px solid grey;
  width: 900px;
}

.desc {
  flex: 0 0 600px;
  background-color: yellow;
}
.amount {
  flex: 0 0 100px;
  background-color: green;
}
.days {
  flex: 0 0 100px;
  background-color: red;
}
.trued {
  flex: 0 0 100px;
  background-color: orange;
}
.center {
  text-align: center!important;
}
.top {
  font-size: 24px;
  height: 40px;
  padding-top: 8px;
}
.prod {
  background-color: white!important;
  text-align: left;
  height: 24px;
  font-size: 18px;
}
.exp-date {
  flex: 0 0 200px;
  background-color: red;
}

.admin-head-top {
  width: 102%;
  background-color: red;
  font-size: 28px;
  text-align: center;

}

.admin-head-bot {
  width: 100%;
  border-bottom: 2px solid grey;
  border-left: 2px solid grey;
  border-right: 2px solid grey;
  font-size: 16px;
}

.top-prod {
  background-color: lightblue;
  font-size: 18px;
  height: 30px;
  text-align: center;
  margin-top: 50px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.left-border {
  border-left: 2px solid black;
}

.right-border {
  border-right: 2px solid black;
}

.bot-border {
  border-bottom: 2px solid black;
}

.new-product-form {
  margin-top: 50px;
  margin-left: 0px;
}

.form-item {
  padding: 10px;
}

.form-box {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border: 2px solid lightblue;
}
