.info-block {
  border: 1px solid #45B29D;
  border-radius: 5px;
  height: 100px;
  padding-top: 15px;
  text-align: center;
  color: #334D5C;
}

.chart-wrapper {
  border: 1px solid #45B29D;
  border-radius: 5px;
}

.chart {
  padding:2px;
}
