.admin-head-top {
  width: 102%;
  background-color: red;
  font-size: 28px;
  text-align: center;
}

.grey-dashed-bot {
  border-bottom: grey dashed 1px;
}

.product-info {
  border: 1px solid black;
}

.new-product-form {
  margin-top: 50px;
  margin-left: 0px;
}

.form-item {
  padding: 10px;
}

.form-box {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border: 2px solid lightblue;
}
