.topbar {
  font-size: 24px;
  /*background-color: #f8f8f8;
  border: 1px solid #e7e7e7;*/
  text-align: center;
}

.item {
  font-size: 16px;
  text-decoration: none;
  color: black;
}

.item:hover {
  text-decoration: none;
  color: grey;
}

.lightgreen {
  background-color: lightgreen!important;
}

.top {
  font-size: 20px;
  background-color: lightblue;
  border-bottom: 2px solid black;
}

#dash-link:hover {
  text-decoration: none;
  color: lightblue!important;
}
