{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" media="screen" title="no title">
    <link rel="stylesheet" href="{% static 'css/admin_dash.css' %}" media="screen" title="no title">
  </head>
  <body>
    <div class="container">
      <form class="" method="post">
      {% csrf_token %}

      {% for field in form %}
      <div style="margin:8px;" class="row">
        <div class="col-md-3">{{ field.label }}</div>
        <div class="col-md-3">{{ field }}</div>
      </div>

      {% endfor %}
      <div style="margin:8px;" class="row">
        <div class="col-md-3"><label for="cell">Cell #</label><br><input type="submit" name="" value="Submit"></div>
        <div class="col-md-3"><input type="text" name="cell" value=""><br></div>
      </div>


      </form>
    </div>

  </body>
</html>
