{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <script
  src="https://code.jquery.com/jquery-3.2.1.slim.js"
  integrity="sha256-tA8y0XqiwnpwmOIl3SGAcFl2RvxHjA8qp0+1uCGmRmg="
  crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" media="screen" title="no title">
    <link rel="stylesheet" href="{% static 'css/admin_dash.css' %}" media="screen" title="no title">
    <meta charset="utf-8">
    <title></title>
  </head>

  <body>

      <div id="wrapper" class="toggled">


        
          <!-- /#sidebar-wrapper -->

          <!-- Page Content -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class=""><a href="{% url 'login' %}">Home Page</a></li>
        <li><a href="{% url 'admin:index' %}">Django Admin</a></li>

      </ul>


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

          <div id="page-content-wrapper">
              <div class="container-fluid">
                <h1>Dashboard</h1>
                <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                  <div class="row twenty">
                      <div class="col-lg-3 col-md-6">
                        <div style="" class="panel panel-primary">
                          <div class="panel-heading">
                            <div class="row">
                              <div class="col-xs-8">
                                New Clients
                              </div>
                              <div class="col-xs-4">
                                {{ new_clients }}
                              </div>
                            </div>
                          </div>

                          <div class="panel-footer">
                            <!-- <a id="" href="#test1">Details</a> -->
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-6">
                        <div style="" class="red panel panel-primary">
                          <div class="red panel-heading">
                            <div class="row">
                              <div class="col-xs-8">
                                True Up Ops
                              </div>
                              <div class="col-xs-4">
                                {{ trueups|length }}
                              </div>
                            </div>
                          </div>
                          <a href="#">
                          <div class="panel-footer">
                            <!-- <a id="test2" href="#test2">Details</a> -->
                          </div></a>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-6">
                        <div style="" class="green panel panel-primary">
                          <div class="green panel-heading">
                            <div class="row">
                              <div class="col-xs-8">
                                Sales Today
                              </div>
                              <div class="col-xs-4">
                                {{ sales_today }}
                              </div>
                            </div>
                          </div>
                          <a href="#">
                          <div class="panel-footer">
                            <!-- <a id="test3" href="#test3">Details</a> -->
                          </div></a>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-6">
                        <div style="" class="orange panel panel-primary">
                          <div class="orange panel-heading">
                            <div class="row">
                              <div class="col-xs-8">
                                Exp. Contracts
                              </div>
                              <div class="col-xs-4">
                                {{ ninety_contracts|length }}
                              </div>
                            </div>
                          </div>
                          <a href="#">
                          <div class="panel-footer">
                            <!-- <a id="test4" href="#test4">Details</a> -->
                          </div></a>
                        </div>
                      </div>
                  </div>
              </div>
              {% block content %}
              {% endblock %}
          </div>

          <!-- /#page-content-wrapper -->
      </div>
      <!-- /#wrapper -->

      <!-- jQuery -->
      <script src="js/jquery.js"></script>

      <!-- Bootstrap Core JavaScript -->
      <script src="js/bootstrap.min.js"></script>

      <!-- Menu Toggle Script -->




{% include 'partials/admin_dash/adminjs.html' %}


</body>
</html>
