{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" media="screen" title="no title">
    <link rel="stylesheet" href="{% static 'css/new_client_dash.css' %}" media="screen" title="no title">

    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>


    <script src="http://code.highcharts.com/highcharts.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

  </head>
  <body>

    <nav class="navbar navbar-default" style="margin-bottom:0px;!important">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div style="max-width:200px!important;" class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="http://www.presidio.com/sites/all/themes/presidio/images/logo-footer.png" style="width:70%;" alt=""></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class=""><a href="#">Home</a></li>
            <li><a href="#">Contracts</a></li>
            <li><a href="#">Equipment</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">User Settings</a></li>
            <li><a href="#">Company Settings</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="row" style="margin-right:5px;margin-left:5px;">
        <div class="row" style="padding-top:20px;">
          <div class="col-md-3">
            <div class="info-block">
              <h4>Expiring Service: 44</h4>
              <h5>Value: $54,144</h5>
            </div>
          </div>
          <div class="col-md-3">
            <div style="color:#45B29D;border-color:#45B29D;" class="info-block">
              <h4>True Up Ops: 23</h4>
              <h5>Value: $26,700</h5>
            </div>
          </div>
          <div class="col-md-3">
            <div style="color:#E27A3F;border-color:#E27A3F;" class="info-block">
              <h4>Expiring Life: 15</h4>
              <h5>Value: $13,000</h5>
            </div>
          </div>
          <div class="col-md-3">
            <div style="color:#DF5A49;border-color:#DF5A49;" class="info-block">
              <h4>Expiring Support: 26</h4>
              <h5>Value: $20,900</h5>
            </div>
          </div>
        </div>

        <div class="row" style="padding-top:10px;">
          <div class="col-md-6">
            <div class="chart-wrapper">
              <div class="chart" id="semiDonut" style="width:100%;height:300px;"></div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="chart-wrapper" style="width:100%;height:300px!important;max-height:300px!important;">
              <table id='example' class="table table-striped">
                <thead>
                  <tr>
                    <th>Severity</th>
                    <th>Client</th>
                    <th>Condition</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="color:#FFDC00;">Low</td>
                    <td>ESPN</td>
                    <td>Expiring Contract in 177 days</td>
                  </tr>
                  <tr>
                    <td style="color:#FFDC00;">Low</td>
                    <td>ESPN</td>
                    <td>Expiring Contract in 180 days</td>
                  </tr>
                  <tr>
                    <td style="color:#FFDC00;">Low</td>
                    <td>ESPN</td>
                    <td>Expiring Contract in 176 days</td>
                  </tr>
                  <tr>
                    <td style="color:#FF851B">Medium</td>
                    <td>BMW</td>
                    <td>Expiring Contract in 119 days</td>
                  </tr>
                  <tr>
                    <td style="color:#FF851B">Medium</td>
                    <td>BMW</td>
                    <td>Expiring end of Life in 185 days</td>
                  </tr>
                  <tr>
                    <td style="color:#FF4136">High</td>
                    <td>BMW</td>
                    <td>Expiring end of Service in 44 days</td>
                  </tr>
                  <tr>
                    <td style="color:#FFDC00;">Low</td>
                    <td>Aerotek</td>
                    <td>Expiring end of Life in 321 days</td>
                  </tr>
                  <tr>
                    <td style="color:#FF4136">High</td>
                    <td>Yahoo</td>
                    <td>Expiring end of Service in 22 days</td>
                  </tr>
                  <tr>
                    <td style="color:#FFDC00;">Low</td>
                    <td>Aerotek</td>
                    <td>Expiring end of Life in 350 days</td>
                  </tr>
                  <tr>
                    <td style="color:#FF851B">Medium</td>
                    <td>Aerotek</td>
                    <td>Expiring end of Service in 76 days</td>
                  </tr>
                  <tr>
                    <td style="color:#FFDC00;">Low</td>
                    <td>Aerotek</td>
                    <td>Expiring end of Service in 175 days</td>
                  </tr>
                  <tr>
                    <td style="color:#FF4136">High</td>
                    <td>CNN</td>
                    <td>Expiring end of Life in 77 days</td>
                  </tr>
                  <tr>
                    <td style="color:#FF851B">Medium</td>
                    <td>CNN</td>
                    <td>Expiring end of Service in 130 days</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>


      </div>
      <div class="row" style="margin-top:20px;">
        <div class="col-md-4">
          <div class="chart-wrapper">
            <div class="chart" id="chart2" style="width:100%;height:300px;"></div>
          </div>
        </div>
        <div class="col-md-4">
          <div style="height:300px;" class="chart-wrapper">
            <div class="chart" id="chart3" style="width:100%;height:300px;"></div>
          </div>
        </div>
        <div class="col-md-4">
          <div style="height:300px;" class="chart-wrapper">

          </div>
        </div>
      </div>
    </div>



    <script>


    Highcharts.chart('chart2', {
      credits: {
        enabled: false
      },
        chart: {
            type: 'line'
        },
        title: {
            text: 'Two Year Expiring Revenue'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
        },
        yAxis: {
            title: {
                text: ''
            }
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
                enableMouseTracking: false
            }
        },
        series: [{
            name: 'Expiring Revenue Per Month',
            data: [4400, 6900, 9500, 14500, 18400, 21500, 25200, 26500, 23300, 18300, 13900, 10100, 10400, 11400, 11200, 12500, 10400, 14500, 13200, 14500, 17300, 18300, 13900, 9600]
        }]
    });


    Highcharts.chart('chart3', {
        credits: {
          enabled: false
        },
        chart: {
            type: 'column'
        },
        title: {
            text: 'Sales Staff Performance'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            categories: [
                'Jan',
                'Feb',
                'Mar',
                'Apr',
                'May',
                'Jun',
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Contract Value'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>${point.y:.1f}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Miller',
            data: [4000, 3000, 2500, 2500, 2200, 2000]

        }, {
            name: 'Jones',
            data: [2200, 2400, 2600, 2500, 2200, 2100]

        }, {
            name: 'Quinn',
            data: [1800, 1900, 1800, 2000, 1900, 2000]

        }, {
            name: 'Smith',
            data: [2300, 2400, 2500, 2400, 2400, 2400]

        }]
    });


    Highcharts.chart('semiDonut', {
        credits: {
          enabled: false
        },
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: 0,
            plotShadow: false
        },
        title: {
            text: 'Total Contracts',

        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {

                dataLabels: {
                    enabled: false,
                },
                showInLegend: true
            }
        },
        series: [{
            type: 'pie',
            name: 'Browser share',
            innerSize: '50%',
            data: [
                ['Expiring 180 Days',   10.38],
                ['No Issues',       56.33],

            ]
        }]
    });




</script>


<script type="text/javascript">
$.fn.dataTable.ext.type.detect.unshift(
  function(d) {
    return d === 'Low' || d === 'Medium' || d === 'High' ?
    'severity-grade' :
    null;
  }
);

$.fn.dataTable.ext.type.order['severity-grade-pre'] = function(d){
  switch (d) {
    case 'Low': return 3;
    case 'Medium': return 2;
    case 'High': return 1;
  }
  return 0;
}


  $(document).ready(function()
{

  $('#example').DataTable({
    'pageLength' : 5,
    'bLengthChange': false
  });
});

</script>

  </body>
</html>
