{% extends 'partials/new_dash/sales_base.html' %}

{% block content %}

<div style="font-size:18px;border-bottom:1px solid black;margin-bottom:10px;" class="row">
  <div class="col-md-2">Name</div>
  <div class="col-md-2">Lead Product</div>
  <div class="col-md-2">Website</div>
  <div class="col-md-3">
    <div class="col-md-5">City</div>
    <div class="col-md-3">State</div>
    <div class="col-md-2">Country</div>
  </div>
  <div class="col-md-1">Contracts</div>
  <div class="col-md-2">Products</div>
</div>
{% for client in clients %}
<div class="con-item">
<a href="{% url 'client_detail_view' client.id %}">
  <div class="row">
    <div class="col-md-2">{{ client.name }}</div>
    <div class="col-md-2">{{ client.lead_product }}</div>
    <div class="col-md-2">{{ client.website }}</div>
    <div class="col-md-3">
      <div class="col-md-6">{{ client.city }}</div>
      <div class="col-md-2">{{ client.state }}</div>
      <div class="col-md-2">{{ client.country }}</div>
    </div>
    <div class="col-md-1">{{ client.contract_set.all.count }}</div>
    <div class="col-md-2">{{ client.product_set.all.count }}</div>
  </div>
</a>
</div>
{% endfor %}
{% endblock %}
